.modal-poll-types.modal.fade
ol.poll-grid.group
	li
		input(type="button", class="poll_create_action", id="multipleChoiceBtn", value="Multiple Choice")
	li
		input(type="button", class="poll_create_action", id="trueFalseBtn", value="True or False")
	
	li
		input(type="button", class="poll_create_action", id="freeResponseBtn", value="Text Response")
		
	li
		input(type="button", class="poll_create_action", id="freeResponseNumericBtn", value="Numeric Response")
	hr
		

