div(id='explained', class="modal hide fade", tabindex="-1", role="dialog", aria-hidden="true", style="text-align: left")
	div(class="modal-header")
		button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
		h5 Session Codes Explained
		p Sessions codes are our way of making each poll unique. They also help to prevent responders from accidentally heading to the wrong poll.
		p Think of it like each polls own social security number. This means that to find a poll you have to search this code or just follow the url each admin receives to its location
	div(class="modal-footer")
		button(class="btn btn-success btn-large", data-dismiss="modal", aria-hidden="true") Got it!
