extends layout_404


block content
	// Header Content //
	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="brand", href="/") SmartClickR
				div(class="nav-collapse", style="height:auto;")
					ul(class="nav pull-right")
						li(class="active")
							a(id="home", href="/") Return Home

	#hero
		.container
			.row-fluid
				.span8.offset2
					h1.title Whoops, this page got lost
			.clear.dropshadow
	section#error-container.container.clearfix
		.row-fluid
			.span8.offset2
				#error-content
					article#error_main
						section.explain.clearfix
							p We hope ninjas didnt steal this page. That would be bad. If that is the case it may never be found. 
							p Otherwise, someone on our team is to blame for this error. Rest assured that the proper amount of blame and humiliation has been dealt to them. 
							p.error-actions
								span
									button(href="#", class="button btn-info btn-large") Contact
								span
									button(href="#", class="button btn-info btn-large") Home
							p.visible-desktop In the meantime, you can play snake to release any anger you may be feeling
								canvas(id="canvas", width="375", height="375", class="visible-desktop offset2")
	
	script(src="/javascript/snake.js")
