
extends layout_about

block content
	// Header Content //
	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickR
						span  alpha
				div(class="nav-collapse", style="height:auto;")
					ul(class="nav pull-right")
						li(class="active")
							a(id="home", href="/") Home
						li
							a(id='features', href='features') Features
						li
							a(id='signup', href='user/create') Sign Up
						li
							a(id='log', class='fancybox', href='login') Log In

	#main-content
	article#user_hero
		.container
			.span12
				h2 Meet the Team
		hr
	section#content_container
		.container
			.row
				.span12					
					section#user_content
						div#content.pad
							#sub-title
								h3 The folks behind SmartClickR
								p#blurb We are a team of 4 humans who go to school at James Madison University in Virginia. We are on a mission to make the world a better place by creating a service that makes real time audience interation easy and afforable 
								ul#about-team
									li.span5
										.thumb
											img(src="http://placehold.it/400x250")
										h3 Brad Fischer
										p Lead Server Engineer and Product Manager, Organizer of Transportation
										p
											a(href="#")@bradfisher
									li.span5
										.thumb
											img(src="http://placehold.it/400x250")
										h3 Billy Godfrey
										p Lead Infrastructure Engineer, Slayer of Zombies
										p 
											a(href="#")@billygodfrey
									li.span5
										.thumb
											img(src="http://placehold.it/400x250")
										h3 Daniel To
										p Lead Programmer and Server-Side Developer, Amatuer Lifehacker
										p
											a(href="#")@danielto
									li.span5
										.thumb
											img(src="http://placehold.it/400x250")
										h3 Jimmy Dempsey
										p Lead Front-End Developer, Guru of Pillow Fort Building
										p
											a(href="#")@thejamesdempsey
									hr
						

	include extra/footer-main
	