
extends layout_data

block content
	// Header Content //
	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="brand", href="/") SmartClickR
				div(class="nav-collapse in collapse", style="height:auto;")
					ul(class="nav pull-right")
						li
							a(id="home", href="/") Home
						li(class="active")
							a(id='features', href='features') Features
						li
							a(id='signup', href='user/create') Sign Up
						li
							a(id='log', class='fancybox', href='login') Log In
	#main-content
		article#user_hero
			.container
				.span12
					h2 Yikes im not finished
			hr
		section#content_container
			.container
				.row
					.span12					
						section#user_content
							div#content.pad
								#sub-title
										p We are working on creating a center where we can show general data we have gathered. This will not violate your privacy but mearly show trends about usage of our service 

		.clear
	//end hero_content

					.clear
					//end section
	// Footer Content //
	footer
		#footer_container.container
			.row-fluid
				#footer_content
					div.span2
						h5 Navigation
						ul
							li: a(href='/') Home
							li: a(href='/features') Features
							li: a(href='/help') Help Center
							li: a(href='/samples') Sample Questions
					div.span2
						h5 Connect
						ul
							li: a(href='/about') About Us
							li: a(href='/') Blog
							li: a(href='/contact') Contact
							li: a(href='/data') Data Center
					div.span2
						h5 Legal
						ul
							li: a(href='/privacy') Privacy
							li: a(href='/terms') Terms Of Service
					div#social.span6
						h5 Share
						ul
							li: a(href='#') Facebook
							li: a(href='#') Twitter
			.clear
		#legal
			span
				| ©
				| SmartClickR Inc, All Rights Reserved
