
extends layout_data

block content
	// Header Content //
	include extra/nav-main

	#main-content
		article#user_hero
			.container
				.span12
					h2 Yikes im not finished
			hr
		section#content_container
			.container
				.row
					.span12					
						section#user_content
							div#content.pad
								#sub-title
									h3 Overview
									p Accounts Created:
									p Average Age of Users:
									p Gender: 
									hr.line
									h3 Polls
									p Total Polls Created
									p Questions Created
									hr.line
									h3 Responses
									p Total Responses
									hr.line
									h3 Polls
		.clear
	//end hero_content
					.clear
					
	// Footer Content //
	include extra/footer-main