extends layout_features
block content

	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="brand", href="/") 
					| SmartClickR
					span  alpha
				div(class="nav-collapse", style="")
					ul(class="nav pull-right")
						li
							a(id="home", href="/") Home
						li.active
							a(id='features', href='/features') Features
						li
							a(id='signup', href='/user/create') Sign Up
						li
							a(id='log', href='/login') Log In

	#top
	#hero
		.container
			.row-fluid
				h1.page-title Features
	#features-content.container
		.container
			.row-fluid
				.backdrop.dropshadow

					section.overview-banner.page-overview
						div.brief
							header
								h2 Meet SmartClickr: A Better Way
									br 
									|  to Ask Questions and Create Polls
							section.sub-text
								p 
									a(href="#features_usage") Take a tour of our features
									.signup-btn-container
										a(class='signup btn', href='/user/create') Signup Today
					section.feature-descriptions.clearfix
						section#features_usage.section-pad.clearfix
							.spead.span8
								header.topmatter
									h3 Audience Interaction
								article.deck
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
										| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
										| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
										| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
										| qui officia deserunt mollit anim id est laborum.

						section#features_questions.section-pad.clearfix
							.spead.span8
								header.topmatter
									h3 Questions:
								article.deck
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
										| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
										| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
										| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
										| qui officia deserunt mollit anim id est laborum.

						section#features_classroom.section-pad.clearfix
							.spead.span8
								header.topmatter
									h3 In Your Classroom:
								article.deck
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
										| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
										| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
										| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
										| qui officia deserunt mollit anim id est laborum.

						section#features_conferences.section-pad.clearfix
							.spead.span8
								header.topmatter
									h3 At Your Conference:
								article.deck
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
										| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
										| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
										| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
										| qui officia deserunt mollit anim id est laborum.

						section#features_mobile.section-pad.clearfix
							.spead.span8
								header.topmatter
									h3 The Mobile Advantage:
								article.deck
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
										| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
										| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
										| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
										| qui officia deserunt mollit anim id est laborum.
					.clear
	include extra/footer-main

