extends layout
block content

	// Header Content //
	section#wrapper
		#header-container
			.row
				.nav-wrapper.twelve.columns

					// Header //
					header.row
							nav.top-bar
								ul
									li.name
										h1: a(id='title', href='/') SmartClickR
									li.toggle-topbar
										a(href='#')
								section
									ul.right
										li: a(id='home', class='small', href='index') Home
										li: a(id='features', href='features') Features
										li: a(id='signup', href='/user/create') Sign Up
										li: a(id='log', class='fancybox', href='/login') Log In
								
							.clear
					// End Header //
				.twelve.columns.hero
					h1.page-title Features
				.clear.dropshadow
				
		// End Header-Container //
		#features-content.row
			#features-container.twelve.columns.dropshadow
				section.top-matter
					header.top-content
						h1.sub-title.six.columns Overview
						div.signup.columns.right
							a(id='',class='signup medium button', href='/user/create') Signup Today
						.clear
					nav.nav-pills
						ul#feature-pills
							li: a(id='', class='pill', href='#') Feature 1
							li: a(id='', class='pill', href='#') Feature 2
							li: a(id='', class='pill', href='#') Feature 3
							li: a(id='', class='pill', href='#') Feature 4
						.clear
					.clear
				section.overview-banner.page-overview
					div.brief
						header
							h1 A Better Way to Ask Questions and Create Polls
						section.sub-text
							p Facilitate audience participation with ease and amaze audiences
							p Take a quick tour of our features

				section#features_usage.twelve.columns.section-pad
						h1.four.columns Audience Interaction
					p.eight.columns Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
						| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
						| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
						| qui officia deserunt mollit anim id est laborum.

				section#features_questions.twelve.columns.section-pad
					h1.four.columns Available Questions:
					p.eight.columns Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
						| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
						| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
						| qui officia deserunt mollit anim id est laborum.

					section#features_classroom.twelve.columns.section-pad
						h1.four.columns In Your Classroom:
						p.eight.columns Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
							| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
							| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
							| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
							| qui officia deserunt mollit anim id est laborum.

					section#features_conferences.twelve.columns.section-pad
						h1.four.columns At Your Conference:
						p.eight.columns Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
							| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
							| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
							| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
							| qui officia deserunt mollit anim id est laborum.

				section#features_mobile.twelve.columns.section-pad
					h1.four.columns The Mobile Advantage:
					p.eight.columns Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
						| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
						| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
						| qui officia deserunt mollit anim id est laborum.
				.clear
	script
		$(document).foundationTopBar();
