extends layout_guide

block content
	body#signup-body
		header(class="navbar navbar-inverse ")
			.navbar-inner
				.container
					.row-fluid
						a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="brand", href="/") 
							| SmartClickR
							span  alpha
						div(class="nav-collapse", style="")
							ul(class="nav pull-right")
								li
									a(id="home", href="/") Home
		#main-content.clearfix
			article#guide-hero
				.container
					.row-fluid
						.span12
							.top-pad.hidden-phone
							h2 Resources
					hr
			section#content_container.clearfix
				.container
					.row-fluid
						.backdrop.dropshadow
							section#guide-main.clearfix.guide-pad
								article#guide-title
									h2.hidden-phone Getting Started with SmartClickr
									h2.visible-phone Getting Started
								section#nav-container
									article#guide-nav
										ul.nav.nav-pills	
											li
												a(href="#welcome") Welcome
											li
												a(href="#commandcenter") Command Center
											li
												a(href="#creating") Creation
											li
												a(href="#qtypes") Question Types
											li
												a(href="#editing") Editing
											li
												a(href="#distribution") Distribution
											li
												a(href="#presentation") Presentation
											li.visible-desktop.right
												a(id="top", href="#main-content") Top
												
								article#guide-sub
									section#welcome.sub-wrap.clearfix
										h3 Welcome to SmartClickr
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									section#commandcenter.sub-wrap.clearfix
										h3 Your Command Center
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

									section#creating.sub-wrap.clearfix
										h3 Creating a Poll
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

									section#qtypes.sub-wrap.clearfix
										h3 Question Types
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

									section#editing.sub-wrap.clearfix
										h3 Editing your Poll
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

									section#distribution.sub-wrap.clearfix
										h3 Distribution of your Poll
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

									section#presentation.sub-wrap.clearfix
										h3 Presentation
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	script(src="/javascript/sticky-nav.js")
								
									





