
extends layout_help

block content
	// Header Content //
	include extra/nav-main
	#main-content
		article#help_hero
			.container
				.span12
					h2 Help Center
			hr
		section#content_container
			.container
				.row-fluid
					.backdrop.dropshadow				
						section#help_content
							div#content.pad
								#sub-title
									p We are working on creating a top notch help center so we can help you create surverys more quickly. Check back soon to see our progress. In the meantime you can contact us directly to have your questions answered
									p Or you can check out this awesome youtube clip
									iframe(width="560", height="315", src="http://www.youtube.com/embed/5_sfnQDr1-o", frameborder="0", allowfullscreen )
	// Footer Content //
	footer
		#footer_container.container
			.row-fluid
				#footer_content
					div.span2
						h5 Navigation
						ul
							li: a(href='/') Home
							li: a(href='/features') Features
							li: a(href='/help') Help Center
							li: a(href='/samples') Sample Questions
					div.span2
						h5 Connect
						ul
							li: a(href='/about') About Us
							li: a(href='/blog') Blog
							li: a(href='/contact') Contact
							li: a(href='/data') Data Center
					div.span2
						h5 Legal
						ul
							li: a(href='/privacy') Privacy
							li: a(href='/terms') Terms Of Service
					div#social.span6
						h5 Share
						ul
							li: a(href='#') Facebook
							li: a(href='#') Twitter
			.clear
		#legal
			span
				| ©
				| SmartClickR Inc, All Rights Reserved




