
extends layout_help

block content
	body#signup-body
	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				.row-fluid
				
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickR
						span  Help Center
					div(class="nav-collapse", style="")
						ul(class="nav pull-right")
							li
								a(id="home", href="/") Home
	#main-content
		article#help_hero
			.container
				.row-fluid
					.span12
						.top-pad.hidden-phone
						h2 We're here for you.
				hr
		section#content_container
			.container
				.row-fluid
					.backdrop.dropshadow
						section#help-main
							div#help_content.clearfix.help-pad
								section#help-search
									form.form-inline
										fieldset.search-outer
											label(class="inline hidden-phone", for="help-search-input", style="width: auto !important; top: 10px!important; left: 8px !important") Have a question? Ask it here
											label(class="inline display-phone", for="help-search-input", style="width: auto !important; top: 10px!important; left: 8px !important") Have a question? 
											input(type="search", id="help-search-input")
											button(type="submit", class="medium btn-info btn") Search
								hr.line
								section#help-started.clearfix
									div#new-into.span12
										h3 New to SmartClickR?
										p Starting something new can be intimidating -- we understand. That's why we've created this help center to guide you through the process of creating polls and getting feedback.
									div#new-sections.span4
								hr.line
								div#help-sub.clearfix
									section#help-more.span9
										ul.thumbnails
											li#starting.span6
												h4 Getting Started
												ol
													li
														a(href="/resources/getting-started-with-smartclickr") The Basics of SmartClickR
													li
														a(href="/resources/getting-started-with-smartclickr#command-center") Get to Know the Command Center
											hr.line.visible-phone
											li#tips.span6
												h4 Tricks & Tips
												ol
													li
														a(href="/resources/getting-started-with-smartclickr#editing") Editing your Polls
													li
														a(href="/resources/getting-started-with-smartclickr#creating") Poll Creation Process
											hr.line
											li#types.span6
												h4 Question Types
												ol
													li
														a(href="/resources/getting-started-with-smartclickr#qtypes") Multiple Choice
													li
														a(href="/resources/getting-started-with-smartclickr#qtypes") True/False
													li
														a(href="/resources/getting-started-with-smartclickr#qtypes") Free Response - Text
													li
														a(href="/resources/getting-started-with-smartclickr#qtypes") Free Response - Numeric
											hr.line.visible-phone
											li#presenting.span6
												h4 Presentation
												ol
													li
														a(href="/resources/getting-started-with-smartclickr#distribution") Get the Word Out
													li
														a(href="/resources/getting-started-with-smartclickr#presentation") Collect Responses
													li
														a(href="/resources/getting-started-with-smartclickr#presentation") Visualization Tools
											hr.line
											li#responding.span6
												h4 Responses
												ol
													li
														a(href="/resources/getting-started-with-smartclickr#presentation") Session Codes
													li
														a(href="/resources/getting-started-with-smartclickr#presentation") Data Analyzation
											hr.line.visible-phone
											li#account.span6
												h4 My Account
												ol
													li
														a(href="#") Password Changes
													li
														a(href="#") Billing Issues
									section#help-side.span3.clearfix
										p#help-contact If you have an issue or just a quick question, feel free to ask. We promise to get to your issue as soon as we can!
										p#help-btn
											a(href="/contact",class="large btn-success btn") Ask a Question
										hr
										p#help-tweets
											h4 Follow Our Tweets
											ul.tweet-list							
									
	// Footer Content //
	include extra/footer-logged




