
extends layout

block content
	// Header Content //
	header(class="navbar navbar-inverse navbar-fixed-top")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="brand", href="/") SmartClickR
				div(class="nav-collapse in collapse", style="height:auto;")
					ul(class="nav pull-right")
						li(class="active")
							a(id="home", href="/") Home
						li
							a(id='features', href='features') Features
						li
							a(id='signup', href='user/create') Sign Up
						li
							a(id='log', class='fancybox', href='login') Log In

	#feature-container
		.container
			.row-fluid
				.span12
					#hero
						#hero_content
							.span7.img-contain
								img(src="http://placehold.it/600x400")
							.span5#tag
								h1 Audience participation made easy
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
								span#main-create
									a(id="main-create",class='btn btn-success btn-large', href='user/create') Create an Account
							.clear
						//end hero_content
						section#session-code
							h3 Have a session code?
							form.form-inline
								input(type="text", placeholder="Enter it here")
								button(type="submit", class="btn btn-info") Find the Poll
					.clear
					//end section

	// Footer Content //
	footer
		#footer_container.container
			.row-fluid
				#footer_content
					div.span3
						h5 About Us
						ul
							li: a(href='#') Home
							li: a(href='#') Features
							li: a(href='#') Sample Questions
					div.span3
						h5 Contact Us
						ul
							li: a(href='#') About The Team
							li: a(href='#') Blog
							li: a(href='#') Contact
					div.span3
						h5 Legal Stuff
						ul
							li: a(href='#') Privacy
							li: a(href='#') Terms Of Service
			.clear
		#legal
			span
				| ©
				| SmartClickR Inc, All Rights Reserved




