
extends layout

block content
	#page-top
	//header(class="navbar navbar-fixed-top")	
	header(class="navbar navbar-inverse navbar-fixed-top clearfix")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="brand", href="/") 
					| SmartClickr
					span  alpha
				div(class="nav-collapse", style="")
					ul(class="nav pull-right")
						li(class="active")
							a(id="home", href="/") Home
						li
							a(id='features', href='#tour-top') Features
						li
							a(id='signup', href='/user/create') Sign Up
						li
							a(id='log', href='/login') Log In
	section#session-code.visible-phone
		h3 Got a session code? 


		form#top-search.form-inline(method="GET", action="/poll")
			fieldset
				//label(class="inline", for="index-top-input", style="top: 89px !important; left:49px !important; width: auto !important;") Enter it here
				input(type="search", id="index-top-input", placeholder="Enter it here")
				button(type="submit", class="btn btn-info", name="session") Find it &rarr;
		hr
	.feature.clearfix
		.container
			.row-fluid
				h1.hidden-phone Hi, I'm SmartClickr: A better way to ask
					br
					|  questions and create polls
				h1.visible-phone Hi, I'm SmartClickr
				ul.btn-contain.clearfix
					li.create-wrap.span6
						a(id="top-create",class='btn  btn-large', href='user/create') Create an Account
					li.tour-wrap.span6
						a(id="top-tour",class='btn  btn-large', href='#tour-top') Take a Tour
	.headband.clearfix.hidden-phone
		.container
			.row-fluid
				section#session-code.clearfix
					h3 Have a session code? 
						span.what 
							a(href="#explained", data-toggle="modal") What's that mean?
					form#bottom-search.form-inline(method="GET", action="/poll")
						label(class="inline", for="index-bottom-input", style="top: 10px !important; left:113px; width: auto !important; ") Enter it here
						input(type="search", id="index-bottom-input")
						button(type="submit", class="btn btn-info", name="session") Find it &rarr;
	#tour-top
	.main
		.container
			.row-fluid
				.shell
					.content.clearfix
						article.banded.clearfix
							section
								h1 All-In-One Polling Platform
								p The ability to present and respond are all included in one site. No extra software or equipment required.
								ul.thumbnails.span10.offset1
									li.span3
										h2.icon.command Easy to use command center
										p Manage Polls easily with your Command Center
									li.span3
										h2.icon.unlimited Create unlimited polls
										p Create as many polls as you need. No restrictions.
									li.span3
										h2.icon.devices Collect from many devices
										p Responses from any web-enabled device
									li.span3
										h2.icon.track Track your responses
										p Gather results and track the responses
						article.banded.align-left.comm.clearfix
							section
								h1 Enhanced Audience Communication
								p With presentations, audience involvement is vital — We provide a means for you to encourage this in a simple, yet elegant manner.
								img(src='/img/home-icons/communication.png', class="screens hidden-phone")
						article.banded.align-right.clearfix
							section
								h1 Connect Socially
								p We have made it easy to get the word out about your polls. All you need to do is post the link and let the responses come in.
								.socials.span7.hidden-phone
									.offset1
										ul.thumbnails
											li.span3
												p.logo.logo-facebook Integrate on your Facebook
											li.span3
												p.logo.logo-twitter Integrate on your Twitter
											li.span3
												p.logo.logo-googleplus Integrate on your Google Plus
											li.span3
												p.logo.logo-pinterest Integrate on your Pinterest
										ul.thumbnails
											li.span3
												p.logo.logo-wordpress Blog about it on wordpress
											li.span3
												p.logo.logo-blogger Integrate on your Blogger
											li.span3
												p.logo.logo-reddit Integrate on Reddit 
											li.span3
												p.logo.logo-tumblr Integrate through your Tumblr
								.details.span5.hidden-phone
									h2 Post, Blog, Share
									p SmartClickr allows you to notify audience however you see fit, whether that be in person or online. 
									hr.line
									p Tweet it, post it on Facebook, or blog about your poll. Just do what you do.
						article.banded.clearfix
							section
								h1 Real-Time Results
								p Smartclickr is fast. It is built using server-side javascript to offer lightning quick speeds. The second a response is given, you can see it.
						article.banded.align-left.mobile.clearfix
							section.clearfix
								header.span4
									h1 Built for Mobile
									p The entire site is mobile friendly. This means you can create and edit polls or manage your account on the fly. 
								.span8
									img(src='/img/home-icons/screens.png', class="screens mobile-img hidden-phone")
						article.banded.clearfix
							section
								h1 Overview
								ul.highlights	
									li Polling with personality
									li All pages mobile friendly
									li No additional software, hardware or costs

								ul.highlights
								ul.highlights
							.return-top
								//.circle
								a(href="#page-top", class="circle") 
									span.up-arrow &uarr;

									
	include modals/session-explained
	include extra/footer-main

	script(src="/javascript/scroll.js")
