
extends layout_playground

block content
	body#main-page
		header(id='page-top')
			nav(class="navbar navbar-inverse navbar-fixed-top")
				div(class='navbar-inner')
					div(class='container')
						a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="brand", href="/") 
							| SmartClickr
						div(class="nav-collapse collapse")
							ul(class="nav pull-right")
								li(class="active")
									a(id="home", href="/") Home
								li
									a(id='features', href='/features') Features
								li
									a(id='signup', href='/user/create') Sign Up
								li
									a(id='log', href='/login') Log In
				
			section(id='session-code', class='headband clearfix visible-phone')
				.container
					.row-fluid
						h3 Have a session code? 
						form#top-search.form-inline(method="GET", action="/poll")
							fieldset
								legend(class='ninja') Enter a session code
								input(type="search", id="index-top-input", placeholder="Enter it here")
								button(type="submit", class="btn btn-info", name="session") Find it &rarr;

			section(class='jumbotron feature clearfix')
				.container
					.row-fluid
						h1(class='title') Hi, I'm SmartClickr
						p An elegant, real-time, audience interaction system that gives you a better way to ask questions and create polls
							ul.btn-contain.clearfix
								li.create-wrap.span6
									a(id="top-create",class='btn  btn-large', href='/user/create') Create an Account
								li.tour-wrap.span6
									a(id="top-tour",class='btn  btn-large', href='/features') Take a Tour

			section(id='session-code', class='headband clearfix hidden-phone')
				.container
					.row-fluid
						h3 Have a session code? 
						form#bottom-search.form-inline(method="GET", action="/poll")
							fieldset
								legend(class='ninja') Enter a session code
								label(class="inline", for="index-bottom-input", style="top: 10px !important; left:118px; width: auto !important; ") Enter it here
								input(type="search", id="index-bottom-input")
								button(type="submit", class="btn btn-info", name="session") Find it &rarr;
		section(id='tour-top')
			.main
				.container
					.row-fluid
						.shell
							.content.clearfix
								article.banded.clearfix
									section
										h1 All-In-One Polling Platform
										p The ability to present and respond are all included in one site. No extra software or equipment required.
										ul.thumbnails.span10.offset1
											li.span3
												h2.icon.command 
												p Manage Polls easily with your Command Center
											li.span3
												h2.icon.unlimited 
												p Create as many polls as you need. No restrictions.
											li.span3
												h2.icon.devices 
												p Responses from any web-enabled device
											li.span3
												h2.icon.track 
												p Gather results and track the responses
								article.banded.clearfix
									section.bottom-actions.clearfix
										ul.send-to-features.span10.offset1
											li
												a(id="to-features",class='btn-red btn-huge', href='/features') see all features &rarr;

		//include extra/session-explained
		include extra/footer-main

		script(src="/javascript/scroll.js")
