
extends layout

block content


	include extra/nav-main

	#feature-container
		.container
			.row-fluid
				.span12
					#hero
						#hero_content.clearfix
							section#session-code.visible-phone
								h3 Got a session code?

								form#top-search.form-inline(method="GET", action="/poll")
									input(type="search", placeholder="Enter it here", id="index-top-input")
									button(type="submit", class="btn btn-info", name="session") Find it &rarr;
								hr
							.span7.img-contain
								img(src="http://placehold.it/600x400", class="visible-desktop visible-phone")
								img(src="http://placehold.it/400x450", class="visible-tablet")
								
							.span5#tag
								h1 Audience participation made easy
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
								span#main-create
									a(id="main-create",class='btn btn-success btn-large', href='user/create') Create an Account
							.clear
						//end hero_content
						section#session-code.hidden-phone
							h3 Have a session code?

							form#bottom-search.form-inline(method="GET", action="/poll")
								input(type="search", placeholder="Enter it here", id="index-bottom-input")
								button(type="submit", class="btn btn-info", name="session") Find it &rarr;

					.clear
					//end section

	include extra/footer-main
