!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		//link(rel='stylesheet', type='text/css', href='/css/main.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/login.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/forms.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/animate.css', media='screen')

		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
		
	body
		block content