!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/userhome.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/main.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/jquery-ui-1.9.2.custom.min.css')
		

		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')


		script(type='text/javascript', src='/javascript/userSearch.js')

		// Add Bootstrap Library //
		script(type='text/javascript', src='/bootstrap/bootstrap.min.js')

		// Add Less //
		script(type="text/javascript", src='/less.js')
		
	body
		block content