!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/features.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/animate.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css', media='screen')




		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
		link(rel='stylesheet', type='text/css', href='/css/jquery-ui-1.9.2.custom.min.css')

		
		// Add Foundation Library //
		script(type='text/javascript', src='/bootstrap/bootstrap.min.js')

		
		script(type="text/javascript", src='/less.js')
		
		noscript
			div(id="no-js", class="modal") 
				div(class="modal-header")
					p JavaScript has been turned off.
					p Please enable to view full site and get full use of our product. 

				div(class="modal-footer")
					a(href="http://www.enable-javascript.com", target="_blank")  This article can tell you why Javascript is important and how to turn it on
			div(class="modal-backdrop")

	body
		block content