!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/main.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/test.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/inline-labels.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/jquery-ui-1.9.2.custom.min.css')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css', media='screen')
		
		style
			@media screen and (max-width: 1200px){
				.headband #session-code label.inline{
					left: 110px !important;
				}
			}

			@media screen and (max-width: 1199px){
				.headband #session-code label.inline{
					left: 78px !important;
				}
			}

			@media screen and (max-width: 979px){
				.headband #session-code label.inline{
					left: 47px !important;
				}
			}
			@media screen and (max-width: 320px){
				#top-search label.inline.supported.empty{
					display: none
				}

		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
		
		// Add Foundation Library //
		script(type='text/javascript', src='/bootstrap/bootstrap.min.js')

		script(type='text/javascript', src='/javascript/sessionSearch.js')
		script(type='text/javascript', src='/javascript/sessionSearchBottom.js')
		
		script(type="text/javascript", src='/less.js')
		script(src="/javascript/hisrc.js")
		script(src="/javascript/jquery.anystretch.min.js")

		script(type='text/javascript', src="/javascript/waypoints.min.js")
		script(type='text/javascript', src="/javascript/scrollTo.min.js")

		script(src="/javascript/smooth-scroll.min.js", type="text/javascript")
		script(src="/javascript/scroll.js")

		script(src="/inline-labels.js", type="text/javascript", charset="utf-8")

		
		noscript
			div(id="no-js", class="modal") 
				div(class="modal-header")
					p JavaScript has been turned off.
					p Please enable to view full site and get full use of our product. 

				div(class="modal-footer")
					a(href="http://www.enable-javascript.com", target="_blank")  This article can tell you why Javascript is important and how to turn it on
			div(class="modal-backdrop")

	body(id='main-page', data-spy='scroll')
		block content