!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/main.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/forms.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/jquery-ui-1.9.2.custom.min.css')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css', media='screen')

		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
		
		// Add Foundation Library //
		script(type='text/javascript', src='/bootstrap/bootstrap.min.js')

		script(type='text/javascript', src='/javascript/sessionSearch.js')
		script(type='text/javascript', src='/javascript/sessionSearchBottom.js')
		
		script(type="text/javascript", src='/less.js')

		
		noscript
			div(id="no-js", class="modal") 
				div(class="modal-header")
					p JavaScript has been turned off.
					p Please enable to view full site and get full use of our product. 

				div(class="modal-footer")
					a(href="http://www.enable-javascript.com", target="_blank")  This article can tell you why Javascript is important and how to turn it on
			div(class="modal-backdrop")
			// Add Fonts //


	
	body
		block content
		script
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0];
				if(!d.getElementById(id)){js=d.createElement(s);
				js.id=id;
				js.src="//platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);
			}}(document,"script","twitter-wjs");
		
		div(id="fb-root")
		script
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));