!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/main.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/help.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/inline-labels.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css', media='screen')

		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
		
		// Add Foundation Library //
		script(type='text/javascript', src='/bootstrap/bootstrap.min.js')

		script(type="text/javascript", src='/less.js')

		script(src="/inline-labels.js", type="text/javascript", charset="utf-8")
		script(src="/javascript/tweets.js")
		//script(src="https://api.twitter.com/1/statuses/user_timeline/thejamesdempsey.json?callback=twitterCallback2&count=3", type="text/javascript")
		
		script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
		noscript
			div(id="no-js", class="modal") 
				div(class="modal-header")
					p JavaScript has been turned off.
					p Please enable to view full site and get full use of our product. 

				div(class="modal-footer")
					a(href="http://www.enable-javascript.com", target="_blank")  This article can tell you why Javascript is important and how to turn it on
			div(class="modal-backdrop")
	
	body#help-body
		block content
		