!!! 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='/css/login.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/forms.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/css/animate.css', media='screen')


		// Add Fancybox //
		link(rel='stylesheet', type='text/css', href='vendor/fancybox/jquery.fancybox.css', media='screen')
		script(type='text/javascript', src='vendor/fancybox/jquery.fancybox.pack.js')
		script(type='text/javascript', src='vendor/fancybox/jquery.fancybox.js')
		
		// Add Jquery //
		script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
		
		// Add Foundation Library //
		script(type='text/javascript', src='/vendor/foundation/jquery.foundation.navigation.js')
		script(type='text/javascript', src='vendor/foundation/jquery.foundation.topbar.js')

		// Add Fonts //
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Vollkorn')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Arvo')

		script(type='text/javascript', src="//use.typekit.net/tlx8hat.js")
		script(type='text/javascript') try{Typekit.load();}catch(e){}

	
	body
		block content