extends layout

block content

	// Login Modal //
	body#login_page
					
		div(id='login-container', class="row")
			.twelve.columns
				.six.columns.centered
					#login-form-wrap
						h1: a(id='title', href='/') SmartClickR
						include modals/alert

						form(id='loginForm', method='post')

							hr

							fieldset
								div(class='above-below login-field')
									label(for='email', class='form-text', class='placeholder') Your Email 
									input(id='email', type='input', class='required form-text', name='email', title='Email Address', tabindex='1', autocomplete='off')
									.clear
								div(class='above-below login-field')
									label(for='password', class='form-text', class='placeholder') Password
									input(id='password', type='password', name='password', class='required form-text', title='Password',tabindex='2', autocomplete='off')
									.clear
									a(id='reset', href='#') Forgot Your Password?
									

							.twelve.columns.no_pad
							input(id='login_submit', type='submit', tabindex='3', value="Log In")
							
							label Remember Me
								input(id='remember-me', type='checkbox', checked='true', name='remember-me')

							.clear
							p
								a(id='needSignup', href='/user/create') Need to Signup? 
							hr
		hr

	script(src = "/javascript/form-validators/loginValidator.js")
	script(src = "/javascript/views/login.js")
	script(src="http://malsup.github.com/jquery.form.js")
	

