extends layout_login

block content

	// Login Modal //
	body#login_page
					
		div(id='login-container', class="row")
			.twelve.columns
				.six.columns.centered
					#login-form-wrap
						h1.logo
							a(id='title', href='/') SmartClickr
						form(id='loginForm', method='post', action="/login")
							fieldset.clearfix
								div(class='above-below login-field clearfix')
									label(for='email', class='form-text', class='placeholder') Your Email 
									input(id='email', type='input', class='required form-text', name='email', title='Email Address', tabindex='1', autocomplete='off')
									.clear
								div(class='above-below login-field clearfix')
									label(for='password', class='form-text', class='placeholder') Password
									input(id='password', type='password', name='password', class='required form-text', title='Password',tabindex='2', autocomplete='off')
									.clear	
							.twelve.columns.no_pad
							input(id='login_submit', type='submit', tabindex='3', value="Log In")
							
							p(id="remember")
								input(id='remember-me', type='checkbox', checked='true', name='remember-me')
								label(id='rem-label', for='remember-me') Remember Me

							.clear
							p
								a(id='needSignup', href='/user/create') Need to Signup? 
								span.linebreak |
								a(id='reset', href='/lostpassword') Forgot Your Password?	
							hr
					
		hr



	script(src = "/javascript/views/login.js")
	script(src="/jquery.login.min.js")



	

