
extends layout_playground

block content
	#page-top
	//header(class="navbar navbar-fixed-top")	
	header(class="navbar navbar-inverse navbar-fixed-top clearfix")
		.navbar-inner
			.container
				a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="brand", href="/") 
					| SmartClickr
				div(class="nav-collapse", style="")
					ul(class="nav pull-right")
						li(class="active")
							a(href="/playground") Playground


	.feature.clearfix
		.container
			.row-fluid
			h3 Home Page Mockups
			ul.nav.nav-pills
				li 
					a(href='/playground/test1') Mockup 1
				li
					a(href='/playground/test2') Mockup 2
			h3 Email Templates
			ul.nav.nav-pills
				li 
					a(href='/playground/email') Email Newsletter Test
			ul.nav.nav-pills
				li






