
extends layout_playground

body(id='main-page', data-spy='scroll')
block content
	header(id='page-top')
		nav(class="navbar navbar-inverse navbar-fixed-top")
			div(class='navbar-inner')
				div(class='container')
					button(type='button', class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickr
					div(class="nav-collapse collapse")
						ul(class="nav pull-right")
							li
								a(href="/playground") Playground
							li
								a(href='/playground/test1') Mockup 1
							li(class='active')
								a(href='/playground/test2') Mockup 2

		section(id='session-code-phone', class='headband clearfix visible-phone')
			.container-fluid
				.row-fluid
					h3 Have a session code? 
					form#top-search.form-inline(method="GET", action="/poll")
						fieldset
							legend(class='ninja') Enter a session code
							input(type="search", id="index-top-input", placeholder="Enter it here")
							button(type="submit", class="btn btn-info", name="session") Find it &rarr;

		section(class='jumbotron clearfix')
			.container-fluid
				.row-fluid
					h1(class='title hidden-phone') Hi, I'm SmartClickr: A better way to ask
						br
						|  questions and create polls
					h1(class='title visible-phone') Hi, I'm SmartClickr
					ul.btn-contain.clearfix
						li.create-wrap.span6
							a(id="top-create",class='btn  btn-large', href='user/create') Create an Account
						li.tour-wrap.span6
							a(id="top-tour",class='btn  btn-large', href='#tour-top') Take a Tour

		section(id='session-code-main', class='headband clearfix hidden-phone')
			.container-fluid
				.row-fluid
			h3 Have a session code? 
				span.what 
					a(href="#explained", data-toggle="modal") What's that mean?
			form#bottom-search.form-inline(method="GET", action="/poll")
				fieldset
					legend(class='ninja') Enter a session code
					label(class="inline", for="index-bottom-input", style="top: 10px !important; left:113px; width: auto !important; ") Enter it here
					input(type="search", id="index-bottom-input")
					button(type="submit", class="btn btn-info", name="session") Find it &rarr;