extends layout_landing

block content
	body#landing-page
		// Header Content //
		header(class="navbar navbar-inverse navbar-fixed-top")
			.navbar-inner
				.container
					a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/") 
						| SmartClickR
						span  alpha
					div(class="nav-collapse")
						ul(class="nav pull-right")
							li(class="active")
								a(id="home", href="/") Home
							li
								a(id='signup', href='/user/create') Sign Up
							li
								a(id='log', href='/login') Log In
		.clear
		#landing-pad.hidden-phone
		#landing-container
			.container		
				.row-fluid					
					#hero_content.span6.offset3
						h3#poll-name This poll does not exist
						article.bg
							h4 You can try again here
							section#session-code
								form#index-session.form-inline.clearfix(method="GET", action="/poll")
									input(type="text", placeholder="Enter your session code", id="index-search")
									button(type="submit", class="btn btn-info", name="session") Find it &rarr;
								.clear
							//p or 
							//p.action
							//	a(class="btn btn-info btn-medium", name="session", href="/") Return Home &rarr;
	script(src="/javascript/sessionSearch.js")
					