// Signup Page
extends layout
block content
	// Signup navigation
	div#signup_nav
		.row
			.ten.columns.centered
					nav.top-bar
						ul
							li.name#alt-nav
								h1: a(id='title', href='/') SmartClickR
							li#return
								a(href='/') Return home &rarr;
						.clear
				hr



	div(id='signup-container', class="row")
		.twelve.columns
			.nine.columns.centered
			#signup-wrapper
				section#signup-content
					h1 Let's Go
					form(id='signupForm', method='post', action='/user/create')
						fieldset
							span.field
								label(id="firstNameLabel", for='firstName', class='form-text') First Name
								input( id='firstName', type='text', class='required form-text', name='firstName', title='Full Name', autocomplete='off')
								.clear
							span.field
								label(id="lastNameLabel", for='lastName', class='form-text') Last Name
								input(id='lastName', type='text', class='required form-text', name='lastName', title='Full Name',  autocomplete='off')
								.clear
							span.field
								label(id="emailLabel", for='email', class='form-text') Email Address
								input(id='email', type='input', class='required email form-text', name='email', title='Email Address', autocomplete='off')
								.clear
							span.field.password
								label(id="passwordLabel", for='password', class='form-text') Password
								input(id='password', type='password', name='password', class='required form-text', title='Password',  autocomplete='off')
								.clear
						hr
						.twelve.columns.no_pad
							fieldset.check
								label(id='termsLabel')
									input#termsCheckBox(name='checkTerms',type='checkbox',checked='checked')
									| I agree to 
									a(href='#') the SmartClickr Terms of Service
							fieldset.form-action
								input(id='signup_submit',type='submit',value='Create My Account')
						
						hr

	script(src="/javascript/form-validators/validateSignup.js")