#contact-body{
	background: #eee url('/img/noise.png');
	
}

#contact-body h2{
	color: #fff !important;
}

#user_hero{
	padding-bottom: 50px;
}

#user_content{
	top: -86px;
}


#legal{
	color: #000;
}
.field{
	background:#edeae3;
	display: block;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.add-on{
	margin: 0px 6px 0px 0px;
	background:#edeae3;
	padding: 4px 8px;
	border-radius: 4px;

}

.add-on .icon-envelope{
	margin-top: 3px !important;
	background-repeat: repeat !important;
	background-image:url("/img/glyphicons-halflings.png") !important;
}

#sub-title h4{
	color: #000 !important;
	font-weight: 300;
	padding-bottom: 20px;
}

#contact-us{
	margin-left: 0px;
}

#contact-us input, #contact-us textarea{
	width: 100%;
	border-radius: 0px;
	margin-bottom: 0px;
}

#contact-us select{
	display: block;
}

#contact-us input[type="file"]{
	padding: 0px;
}

#contact-us .send-btn{
	text-align: left;
	padding:30px 0px 12px 12px;
}


#contact-us span{
	display: block;
	padding: 12px;
}

#contact-us input{
	padding: 16px 6px;
	
}

#contact-us textarea{
	resize: none;
	padding: 10px 8px;
	height: 200px;
}

#contact-side article h4,#contact-us h5{
	color: #555555 !important;
	font-weight: 300 ;
	padding-bottom: 0px;
}

#mail a, #facebook a, #twitter a{
	display: block;
	color:#4c8ab0 !important;
	margin-top: 8px;
}

#contact-side p{
	font-size: 0.8rem;
}

#contact-body #legal #copy,#contact-body #legal #kind {
	display: block;
	padding: 4px;
}

#contact-body #legal #copy a{
	color: #555555;
}

.sending-gif{
	background: url('/img/ajax-loader.gif') no-repeat;
	display: inline-block !important;
	padding: 0px 22px 4px 22px !important;
}

.alert{
	width: 96% !important;
	margin: 0 auto;
}

.fb-like{
	margin-top: 12px;
}

@media screen and (max-width: 767px){
	#contact-us .send-btn{
		text-align: center;
	}
}

