/* Feature Styling */
body #features-page {
  font-family: "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
  padding: 0;
  margin: 0 auto;
  font-size: 62.5%;
  background: #eeeeee url('/img/noise.png');
  min-width: 0;
}

#hero{
	padding: 74px 0px 90px !important;
	border-bottom: 1px solid #fff;
}

.backdrop{
	padding: 0px !important;
	background: #fff !important;
	top: -68px !important;
}

.top-matter {
	background-color: #f0f0f0;
	border-radius: 12px 12px 0 0;
	padding: 30px;
	-moz-border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	-o-border-radius: 12px 12px 0 0;
}

.top-matter h2{
	margin: 0px;
	font-size: 1.7rem;
}
.top-matter h2 a{
	color: #3f3f38;	
}

.top-matter h2 a:hover{
	text-decoration: none;
	
}

.top-matter a.signup{
	background: #e95c41 !important;
	color: #fff;	
	border: 1px solid #5e5e5e;
	box-shadow: none;
	font-weight: 400;
	font-size: 13px;
	background-image:-webkit-linear-gradient(top, #e95c41, #d93e2a) !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e95c41), to(#d93e2a)) !important;
	background-image:-moz-linear-gradient(top, #e95c41, #d93e2a) !important;
	background-image:-ms-linear-gradient(top, #e95c41, #d93e2a) !important;
	background-image:-o-linear-gradient(top, #e95c41, #d93e2a) !important;
	background-image:linear-gradient(to bottom, #e95c41,#d93e2a) !important;
	min-width:218px;
	float: right;
	
}

#top-nav{
	padding: 12px;
	width: 100%;
}

#top-nav a{
	font-size: 0.8rem;
}

.return-top{
	float: right !important;
}

#nav-container{
	background:#e8e6e6;
	border-bottom: 1px solid #919191;
	
}

.overview-banner{
	padding: 60px 15px 75px 15px;
}

.brief h2{
	line-height: 68px;
	font-size: 2.8rem;
}

.section-pad{
	padding: 30px 15px 55px 15px !important;
	display: block;
}

.section-pad:nth-of-type(odd){
	background: #f8f8f8;
}

.sub-text p{
	margin: 15px 0 15px;
	font-size: 1.0rem;
	font-weight: 400;
}


.topmatter{
	padding-top: 20px;
	line-height: 20px;
}

.dropshadow {
  -webkit-box-shadow: 0 2px 5px #b4b4b4;
  -moz-box-shadow: 0 2px 5px #b4b4b4;
  box-shadow: 0 2px 5px #b4b4b4;
  o-box-shadow: 0 2px 5px #b4b4b4;
}
.page-title {
  padding: 0 15px;
  font-size: 4rem;
  margin-bottom: 60px;
  font-weight: 200;
  margin-top: 14px;
}




#feature-pills {
  padding: 0;
  background-color: #e8e6e6;
  margin-top: 30px;
  border-bottom: 1px solid #919191;
}
#feature-pills li {
  display: inline-block;
}
/* Hero Styling*/
#hero {
  padding: 80px 0 60px 0;
  background: #4c8ab0;
}
#hero_content {
  margin-bottom: 46px;
  padding-top: 34px;
}
#hero h1 {
  color: #fff;
  margin-bottom: 20px;
  font: 100 5.2em "museo-sans", "Lato", sans-serif;
}
#hero p {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 40px;
  padding: 24px 0 0 0;
  color: #fff;
}
#hero a {
  color: #fff;
}
/* Main Content Styling */
#usage,
#info,
#mobile_usage,
#bottom_signup {
  padding-bottom: 50px;
}
#bottom_signup h3 {
  border: none;
}
#info_container #info h3 {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(252, 107, 53, 0.6);
}
#features-container header {
  padding: 0 22px 0 22px;
}
#header-container {
  border-bottom: 1px solid #666666;
}
#features-content {
  border-top: 1px solid #fff;
}
#features-container {
  background: #fefefe;
  position: relative;
  top: -64px;
  border-radius: 12px 12px 0 0;
  padding: 0px;
  margin: 0 3px;
}
/* Footer */
footer {
  background: #34373e;
  padding: 20px 0px;
}
#footer_content ul {
  margin: 0px !important;
}

#hero{
	padding: 60px 0px 64px !important ;
}




@media screen and (max-width: 490px) {
  #signup-container {
    top: -2rem;
  }
}
@media screen and (min-width: 770px) {
  ul.right {
    background: #fff;
    border-radius: 4px;
  }
}
@media screen and (min-width: 490px) {
  #login-container h1 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 770px) {
  /* Set up grid */
  .row {
    width: 1020px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
  }
  .row.collapse .column,
  .row.collapse .columns {
    padding: 0;
  }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
  }
  .row .row.collapse {
    margin: 0;
  }
  .column,
  .columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
  }
  .column.centered,
  .columns.centered {
    float: none;
    margin: 0 auto;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
  .one,
  .row .one {
    width: 8.33333%;
  }
  .two,
  .row .two {
    width: 16.66667%;
  }
  .three,
  .row .three {
    width: 25%;
  }
  .four,
  .row .four {
    width: 33.33333%;
  }
  .five,
  .row .five {
    width: 41.66667%;
  }
  .six,
  .row .six {
    width: 50%;
  }
  .seven,
  .row .seven {
    width: 58.33333%;
  }
  .eight,
  .row .eight {
    width: 66.66667%;
  }
  .nine,
  .row .nine {
    width: 75%;
  }
  .ten,
  .row .ten {
    width: 83.33333%;
  }
  .eleven,
  .row .eleven {
    width: 91.66667%;
  }
  .twelve,
  .row .twelve {
    width: 100%;
  }

  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .sub_text {
    font-size: 13px;
    display: block;
  }
  div#text.left {
    width: 45%;
  }
  header nav {
    padding: 1%;
  }
  #name {
    display: inline;
    width: 10%;
    margin-top: 0;
  }
  span.right {
    width: 45%;
  }
  #how_to_use ol {
    width: 100%;
  }
  #how_to_use ol.thumb-grid li {
    list-style: none;
    float: left;
    width: 29%;
    margin: 0 5% 5% 0;
  }
  #how_to_use ol.thumb-grid li:nth-child(5n) {
    margin-right: 0;
  }
  #how_to_use ol.thumb-grid li a img {
    width: 100%;
  }
  #hero h2 {
    margin-bottom: 0;
  }
  #session_code {
    padding: 45px;
  }
  #hero_content a {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  #signup-container,
  #login-container {
    padding: 0px;
  }
}
@media screen and (max-width: 770px) {
  #signup-container h1 {
    margin-left: 12px;
  }
  #login-content {
    background-color: #fff;
    padding: 20px;
  }
}
@media screen and (min-width: 770px) {
  #home.small {
    display: none;
  }
}
@media screen and (min-width: 820px) {
  #signup_nav_links {
    text-align: right;
  }
}

fieldset {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-size: 14px;
  border: none;
}
fieldset.form-actions {
  margin: 0 0 0 20%;
  padding: 0;
  border: none;
}
#session fieldset label {
  float: left;
  width: 20%;
  margin: 4px 0 5px 0;
  font-weight: bold;
}
fieldset.check label {
  display: inline;
  float: none;
  width: auto;
  font-weight: normal;
}
fieldset.radio ul li label {
  display: inline;
  float: none;
  width: auto;
  font-weight: normal;
}
input.form-text,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
fieldset input.form-text:focus {
  border: 1px solid #ccc;
  background: #fff;
}
fieldset textarea {
  height: 150px;
}
fieldset select {
  min-width: 25%;
  margin: 0;
}
input[type="submit"] {
  margin: 0;
  padding: 10px 10px;
  width: 46%;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #bbb;
  background: #e5e5e5;
  cursor: pointer;
}
input[type="submit"]:active {
  border: 1px solid #ccc;
  background: #eee;
}
@media screen and (max-width: 760px) {
  fieldset label {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 5px 0;
  }
  fieldset.form-actions,
  fieldset.check,
  fieldset.radio ul,
  fieldset p.form-help {
    margin-left: 0;
    padding-left: 0;
  }
  fieldset input.form-text,
  fieldset textarea {
    width: 65%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  #session-id input[type="submit"] {
    width: 98%;
  }
  #login-container {
    margin-top: 20px;
  }
}
/* Feature Styling */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
  padding: 0;
  margin: 0 auto;
  font-size: 62.5%;
  background: #eeeeee url('/img/noise.png');
  min-width: 0;
}
.navbar-inner,
.navbar-inverse {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  background: #1b1b1b url('/img/bg.png');
}
.navbar {
  margin-bottom: 0px !important;
}
.container {
  /*width: 1170px !important;*/

}
.img-contain {
  margin: 0 auto;
  text-align: center;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  visibility: hidden;
}
h4 {
  font-weight: normal;
  font-size: 1.15em;
}
h2 {
  margin: 0;
}
.bottom_space {
  margin-bottom: 24px;
}
.fixed {
  position: fixed;
}
.brief {
  text-align: center;
}
.top-matter {
  background-color: #f0f0f0;
  border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
}
.top-content {
  background-color: #f0f0f0;
  padding-top: 20px;
  border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
}
.dropshadow {
  -webkit-box-shadow: 0 2px 5px #b4b4b4;
  -moz-box-shadow: 0 2px 5px #b4b4b4;
  box-shadow: 0 2px 5px #b4b4b4;
  o-box-shadow: 0 2px 5px #b4b4b4;
}
.page-title {
  padding: 0 15px;
  font-size: 4rem;
  margin-bottom: 60px;
  font-weight: 200;
  margin-top: 14px;
}
/* Navigation */
.nav {
  margin-left: 1px !important;
  margin-bottom: 0 !important;
}
.nav-pills {
  padding: 0;
}
.nav-pills > li > a:active {
  background: #4c8ab0 !important;
}

#feature-pills {
  padding: 0;
  background-color: #e8e6e6;
  margin-top: 30px;
  border-bottom: 1px solid #919191;
}
#feature-pills li {
  display: inline-block;
}
/* Hero Styling*/
#hero {
  padding: 80px 0 60px 0;
  background: #4c8ab0;
}
#hero_content {
  margin-bottom: 46px;
  padding-top: 34px;
}
#hero h1 {
  color: #fff;
  margin-bottom: 20px;
  font: 100 5.2em "museo-sans", "Lato", sans-serif;
}
#hero p {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 40px;
  padding: 24px 0 0 0;
  color: #fff;
}
#hero a {
  color: #fff;
}
/* Main Content Styling */
#usage,
#info,
#mobile_usage,
#bottom_signup {
  padding-bottom: 50px;
}
#bottom_signup h3 {
  border: none;
}
#info_container #info h3 {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(252, 107, 53, 0.6);
}
#features-container header {
  padding: 0 22px 0 22px;
}
#header-container {
  border-bottom: 1px solid #666666;
}
#features-content {
  border-top: 1px solid #fff;
}
#features-container {
  background: #fefefe;
  position: relative;
  top: -64px;
  border-radius: 12px 12px 0 0;
  padding: 0px;
  margin: 0 3px;
}
/* Footer */
footer {
  background: #34373e;
  padding: 20px 0px;
}
#footer_content ul {
  margin: 0px !important;
}

#hero{
	padding: 60px 0px 64px !important ;
}
/* Page Specific Media Queries */
@media screen and (max-width: 767px) {
 	body {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.container {
		padding: 0 20px 0 20px !important;
	}
	#main-create {
		text-align: center;
	}

	.signup-btn-container{
		text-align: center;
	}
	 .top-matter a.signup{
		float: none;
		width: 100%;
		margin-top: 18px;
	}
	#features-page .container{
		padding-right: 2px !important;
		padding-left: 2px !important;
		
	}
	
}
