#help-body{
	background: #eee url('/img/noise.png');
}

#help_hero{
	background: #4c8ab0;
	padding-top: 36px;
	padding-bottom: 22px;
}

#help_hero h2{
	font-size: 3rem;
	color: #fff;
}

.backdrop{
	top: -48px !important;
}