#help-body{
	background: #eee url('/img/noise.png');
}

#help_hero{
	background: #4c8ab0;
	padding-top: 36px;
	padding-bottom: 22px;
}

#help_hero h2{
	font-size: 3rem;
	color: #fff;
}

.username, .hashtag{
	color:#4c8ab0 !important;
}


hr.line{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	visibility: visible;
}
.backdrop{
	top: -48px !important;
}

.top-pad{
	padding-top: 32px;
}

.help-pad{
	padding: 40px;
}

#help-main{
	background: #fff;
	border-radius: 12px;
}

#help-search form{
	background: #edeae3;
	padding: 8px;
	border-radius: 6px;
}

#help-search input, #help-search button{
	float: left;
}

#help-search input{
	border-radius: 0;
	font-size: 18px;
	padding: 9px 6px;
}

#help-search .btn{
	padding: 9px 12px;
}

#help-started h3{
	font-weight: 300 !important;
}

.search-outer{
	position: relative;
}

#help-more ul, .tweet-list{
	margin-left: 0px;
} 
#help-more ol{
	margin-left: 0px;
}

#help-more ol a:link, #help-more ol a:visited{
	color:#4c8ab0;
}

#types, #responding{
	margin-left: 0px;
}

#help-sub h4{
	color:#374248 !important;
	font-weight: 300;
	margin-bottom: 10px;
}

#help-btn button{
	width: 100%;
}

#help-side{
	padding-top: 10px;
	font-size: 1.0rem;
}

#help-side p{
	font-size: 1.0rem;	
}

.tweet-list li{
	padding: 10px 0px;
}

.tweet-time{
	font-size: 0.8rem;
}

  #twitter_t      
              {
   width: 445px;
   height: 34px;
   background-image:url("your top image");
}
#twitter_m {
   width: 415px;
   padding: 0 15px;
   background:url("your middle image")  0 0 repeat-y;
}
   #twitter_container {
       min-height:45px;
       height:auto !important;
       height:40px;
       padding-bottom:10px;
   }

       #twitter_update_list {
           width: 415px;
           padding: 0;
           overflow: hidden;
           font-family: Georgia;
           font-size: 14px;
           font-style: italic;
           color: #31353d;
           line-height: 16px;
           font-weight:bold;
       }
       #twitter_update_list li {
           width: 415px;
           list-style: none;
       }
       #twitter_update_list li a {
           color: #5f6d76;
           border-bottom: dotted 1px;
           text-decoration: none;
       }
       #twitter_update_list li a:hover {
           color: #31353d;
           background: #d3f1f9;
       }
#twitter_b {
   width: 445px;
   height: 29px;
   background-image:url("your bottom image");
}

@media screen and (min-width:767px){
	#help-search button{
		width:12%;
		margin-left: 2%;
	}
	#help-search input{
		width: 84%;
	}	
	
}

@media screen and (min-width: 979px){
	#help-search button{
		width:13%;
		margin-left: 1%;
	}
	#help-search input{
		width: 84%;
	}
}