@import(reset.css);

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.navbar-inner, .navbar-inverse{
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;	
	background:#1b1b1b url('/img/bg.png');
}

.navbar{
	margin-bottom: 0px !important;
}

.container{
	/*width: 1170px !important;*/
}

.img-contain{
	margin: 0 auto;
	text-align: center;
}

#footer_content ul{
	margin: 0px !important;
}

footer{
	padding: 20px 0px;
	margin-top: -44px;
}


#session-code{
/*	background:rgba(76, 138, 176, 0.6);*/
	background: rgba(56,118,156,.6);
	border-radius: 10px;
	position: relative;
	padding: 20px 40px;
	margin-bottom: 30px;
}

#session-code input[type="text"]{
	width: 60%;
	font-size: 18px;
	padding: 18px;
}

#session-code button{
	margin-left: 20px;
	padding: 8px;
}

#search_polls{
	padding: 18px;
}

#user_hello{
	color: #fff;
	font-size: 2.8rem;
}

#user_hero{
	background: #4c8ab0;
	padding-top: 70px;
}

#create_title{
	padding-bottom: 80px;
	padding-top: 20px;
}

#poll_info input, #poll_info textarea{
	padding: 18px;
}

#pollDescription{
	height: 200px !important;
}

h2{
	font-weight: 300 !important;
}

body{
	font-family:"Helvetica Neue", Helvetica, Arial, Veranda,sans-serif; 
	padding: 0;
	margin: 0 auto;
	font-size:62.5%;
	background: #eee url('/img/noise.png');
	min-width: 0;
	
}

::selection {
	background: rgba(252, 107, 53, 0.6); /* Safari */
	}
::-moz-selection {
	background: rgba(252, 107, 53, 0.6); /* Firefox */
}


a{
	text-decoration: none;
}

p{
	font-size: 1.4em; 
	line-height: 26px;
	font-weight: 300;
	font-style: normal;
	color: #34373e;
}

.sub_text{
	font-size: 13px;
	display: none;
}

.clear{
	clear: both;
}
.hidden{
	display: none;
}

.right{
	float: none;
	margin: 0 auto;
}
.pad{
	padding: 5px;
}
.no_pad{
	padding: 0 !important;
}

.hide{
	display: none;
}

h3{
	color:#34373e;
	margin: 0;
	font-size: 2.8em;
	font-weight: 100;
}

h4{
	color: #fff !important;
}

#user_body h3{
	border-bottom: none;
	padding: 0;
}

#poll_info .error{
	padding: 10px 0;
}

.errorBorder{
	border: 1px solid red;
}

hr { 
	border: solid #ddd; 
	border-width: 1px 0 0; 
	clear: both; 
	height: 0; 
}

.button { 
	margin-top: 10px;
	width: 100%; 
	border: none; 
	color: white; 
	cursor: pointer; 
	display: inline-block; 
	font-size: 14px; 
	font-weight: bold; 
	line-height: 1; 
	margin: 0; 
	outline: none; 
	padding: 10px 20px 11px; 
	position: relative; 
	text-align: center; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none; 
	-webkit-transition: background-color 0.15s ease-in-out; 
	-moz-transition: background-color 0.15s ease-in-out; 
	-o-transition: background-color 0.15s ease-in-out; 
	transition: background-color 0.15s ease-in-out; /* Hovers */ /* Sizes */ /* Colors */ /* Radii */ /* Layout */ /* Disabled ---------- */ }

.red{
	background:#e95c41;
	background-images:-webkit-linear-gradient(top, #e95c41, #d93e2a);
	text-shadow:1px 1px 0 rgba(0,0,0,0.4);
}

.green{
	background: #72c1b0; 
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	border: 1px solid #558f83;
}
	
.button.large { font-size: 17px; padding: 15px 30px 16px; }
.button.green:hover { color: white; background-color: #8fb965; border: none}
.button.green:active { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
.button.green:focus { -webkit-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; }


/* Header Styles */


#wrapper{
	background: #fff;
	margin-bottom: 40px;
}
#header-container, #feature-container{
	background:#4c8ab0;
	color: white;
	padding-top: 30px;
}

#header-container{
	padding: 20px 0;
}




#feature-sidebar{
	padding-top: 20px;
}

.pad{

}

nav a{
	font-family: Veranda, sans-serif;
	font-size: 1.4em;
}

a:link, a:visited {
	color: #a1a3a8;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #67708f;
	text-decoration: none;
}


#session_code h3{
	color:#fff;
	border-bottom: none;
}

#name{
	display: block;
	margin-top: -16px;
}




header{
}



 a#title{

	font-weight: 300;
}

#name a:hover{
	color: #9c6;
	background: #000;
}

nav{
	margin: 0 auto;
	padding: 3%;
}

nav span a{
	text-decoration: none;
	font-size: 1em;
	
}

nav a:hover{
	color: #9c6;
}

ol li{
	padding-bottom: 10px;
}


ul li{
	list-style-type: none;
}

form fieldset li label{
	font-size: 1.10em;
}

nav li a {
	text-decoration: none;
	display: inline-block;
}

/* Feature Styling */

#hero{
	padding: 40px 0 0 0;
}
h2{
	margin: 0;
}

#hero_content{
	margin-bottom: 46px;
	padding-top: 34px;
}

#hero h2{
	color: #fff;
	margin-bottom: 20px;
	font: 100 5.2em "museo-sans","Lato",sans-serif;
}

#hero p{
	font-style: normal;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 40px;
	padding: 24px 0 0 0;
	color:#fff;
}

#hero a{
	color:#fff;
}

#session_code{
	border-top:5px solid #e0e0e0;
}

/* Main Content Styling */


}
.bottom_space{
	margin-bottom: 24px;
	
}

#session_code{
	padding: 20px;
}

#session_code h3{
	font-size:2.0em;
}

#usage, #info, #mobile_usage, #bottom_signup{
	padding-bottom:50px;
	
}

#info, #mobile, #bottom_signup{
}

#bottom_signup h3{
	border: none;
}
footer{
	background: #34373e;
}
hr { 
	border: solid #ddd; 
	border-width: 1px 0 0; 
	clear: both; 
	height: 0; 
	visibility: hidden;
}

h4{
	font-weight: normal;
	font-size: 1.15em;
}


#info_container #info h3{
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 2px solid rgba(252, 107, 53, 0.6);
}

/* FEATURES PAGE  */
.fixed{
	position: fixed;
}

.brief{
	text-align: center;
}

.top-matter{
	background-color: #f0f0f0;
	border-radius:12px 12px 0 0;
	
	
}
.top-content{
	background-color: #f0f0f0;
	padding-top: 20px;
	border-radius:12px 12px 0 0;
	
}

.nav-pills{
	padding: 0;
}

#feature-pills{
	width: 100%;
	padding:0;
	background-color: #e8e6e6;
	margin-top: 30px;
	border-bottom: 1px solid #919191;
	
}

#feature-pills li{
	display: inline-block;
}

.dropshadow{
	-webkit-box-shadow: 0 2px 5px #b4b4b4;
	-moz-box-shadow: 0 2px 5px #b4b4b4;
	box-shadow: 0 2px 5px #b4b4b4;
}

#features-container header {
	padding-left: 22px;
	padding-right: 22px;
}

#header-container{
	border-bottom: 1px solid #666666;

}
.page-title{
	padding: 0 15px;
	font-size: 4rem;
	margin-bottom: 60px;
	font-weight: 200;
	margin-top: 14px;
}

#features-content{
	border-top: 1px solid #fff;
}
#features-container{
	background: #fefefe;
	position: relative;
	top: -64px;
	border-radius: 12px 12px 0px 0px;
	padding: 0px;
	margin: 0 3px;
}

/* SIGN UP PAGE  */

#signup_page{
	background:#fff;
}

#signup_nav{
	background:#72c7b4;
	height: 130px; line-height: 45px; padding: 0 10px; width: 100%;
	border-bottom: 1px solid #fff
}

#signup_nav nav{
	height: auto;
}
#signup_nav > ul .name h1{
	line-height: 65px;
	margin: 0;
	
}

#signup_nav > ul .name h1 a { font-weight: bold; padding: 0 22.5px; font-size: 20px !important; color: #ddd}


#alt-nav{
	float: left;
	padding-top: 10px;
}

#return{
	font-size: 1.6em;
	color: #a1a3a8;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	float: right;
	padding-top: 10px;
}

#return a{
	display: inline-block;
	padding: 1px 14px;
	background:#f16451;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
	cursor: pointer;
	font-size: 16px;	
}

#return a:active { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
#return a:focus { -webkit-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; }

#signup-container{
	!background:rgba(29, 147, 193, 0.2);
	padding: 20px;
	margin: 0;
	margin: 0 auto;
	position: relative;
	top: -3rem;
}



#signup-container h1, #login-container h1{
	margin-bottom: 10px;
	margin-top: 0px;
	font: 100 4.6em "museo-sans","Lato",sans-serif;
	color: #000;
	margin-left: 15px;
}



#login-actions a{
	
}

#signup-wrapper, #login-wrapper{
	background:#f0f0f0;
	padding: 8px;
	max-width: 432px;
	width: 96%;
	border-radius: 5px;
	margin: 0 auto;
	box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);
}

#signup-content, #login-content{
	background-color: #f0f0f0;
	padding: 12px;
}



#logFormSignup{
	font-size: 14px;
}

#logFormSignup{
	border-bottom: none;
}

li a:hover{
	border-bottom:none;
}

#terms_error{
	display: block;
	margin-left: 0px;
}

#signup_page footer{
}



/*FEATURES PAGE*/


#features_content h1{
	font-size: 2.2em;
	font-weight: 300;
	margin-bottom: 5px;
	line-height: 24px;
}

#features_content section{
	margin-top: 40px;
	padding-top: 20px;
	border-top:3px solid #34373e;	
}

.section-pad{
	padding: 0 10px;
}

#features_content section:first-child{
	border-top: none !important;
	padding-top: 0px;
	
}

/* Footer Styling */


footer{
	background:#191814;
	border-top: 1px solid #363631
}
footer #footer_content ul.nav{
	float: left;
	width: 33%;
}

footer #legal{
	padding-bottom: 10px;
}
footer #legal span{
	font-size: 12px;
	color: #8a8a8a;
	text-align: center;
}

footer #legal span a{
	color: #1570a6;
}

@media screen and (min-width: 520px){
	.button{ width: auto}
}



/* SIGNUP PAGE */

nav#signup_nav{
	padding-top: 10px;
}

/* LOGIN PAGE */

#login_page{
	background:#6DB3C3;
	min-width: 0;
}

#login-form-wrap h1 {
	color: white;
}

#login-container{
	margin-top: 60px;
	width: 100%;
	min-height: 430px;
}

#login-container h1 {
	margin-left: 0px;
	margin-bottom: 0px;
	
}

#login-container h1 a{
	font-size: 1.6rem;
	
}

#login-form-wrap{
	width: 94%;
	margin: 0px 3% 0 3%;
	left: 0;
	
}

#login-container label.error{
	background: rgba(225, 0, 0, 0.6);
	color: #fff;
	width: 100%;
	border-radius: 4px ;
	margin-top: 10px;
	padding: 10px 17px;
	font-size: 14px;
}

label.placeholder{
	position: absolute;
	top: 5px;
	left: 16px;
	color: #777;
	width: 70px;
	text-align: right;
	margin-top: 10px;
	font-size: 14px;
}
label.placeholder:focus{
	color: #000;
}

#login-container input#email, #login-container input#password{
	padding: 10px 15px 10px 100px;
	margin: 0;
	background-color: #fbfbfb;
	border: 1px solid #ccc;
	font-size: 1.5em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
}

input#email:focus, input#password:focus{
}

.login-field{
	position: relative;
}

.above-below{
	margin-top: 10px;
	margin-bottom: 15px;
}

#reset, #needSignup, #haveQuestions{
	line-height: 42px;
/*	margin-left: 23px; */
	color: #fff;
	font-size: 15px;
	padding-bottom: 4px;
}
#reset:hover{
	border-bottom: 1px solid #fff;
}

#login_submit{
	height: 45px;
	min-width: 160px;
	font-weight: normal;
	margin: 15px 0 10px 0;
	background-color:#ED5D3B;
	font-size: 16px;
	border: 1px solid #5e5e5e;
	color: #fff;
	display: inline-block;
}

#loginForm p{
	margin: 0;
}

#termsLabel{
	display: inline;
	margin: 8px 0 0 12px;
	font-size: 13px;
}

#termsCheckBox{
	margin: 3px 0.5ex;
	padding: 5px;
	border-radius: 4px;
	font-size: 2.1rem;
}

#title{
	font-size: 14px;
	color: #fff;
}


/* User Home Page */

#user_header{
	/*background: #4c8ab0;*/
	/*background: #72c1b0;      /*green*/
	/*background: #46bcd2;*/  /*blue*/
	/*background:#fedd84;*/   /*yellow*/
	padding-bottom: 50px;
	border-bottom:1px solid #666666
}

#user_nav #title{
	color: #fff;
}
#user_nav li a{
	color: #333;
	font-weight: 400;
}

#settings{
	border-right: 1px solid #333;
}

#user_greeting{
	margin-top: 35px;
	margin: 0 5px;
}

#user_greeting h1{
	color: #fff;
	font-size: 2.4rem;
	font-weight: 300;
	margin: 0;
}

#user_greeting h3{
	border-bottom: none;
	padding: 0;
	color: #fff;
	font-size: 2em;
}

#actions_container{
	padding: 40px 0px 10px 0px;
	margin: 0 5px;
	margin-top: 20px;
}

#user_actions{
	padding: 0px;
}

#alt-actions{
	text-align: right;
	display: inline-block;
	padding-right: 0px;
	padding-left: 0px;
}

#no_polls{
	text-align: center;
	padding-bottom: 80px;
}

article#no_polls h1{
	font-size: 3.4em;
	font-weight: 300;
}

#no_polls span{
	font-size: 2.2em;
	font-weight: 300;
}

#no_polls span a{
	font-size: 1em;
	color: #e95c41;
	line-height: 36px;
}

#no_polls span a:hover{
	border-bottom: 1px dashed #e95c41;

}

#sub_create{
	font-weight: 400;
	font-size: 1.6rem;
	background:#46bcd2;
	color: #fff;
	border: 1px solid #558f83;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	padding: 20px 32px;
	margin: 20px 0px;
}

#poll_container{
	padding-bottom: 20px;
}

#poll_container:not(:first-child){
	padding-top: 26px;
}

#poll_container:last-child{
	padding-bottom: 0px;
}
#alt-actions li{
	display: inline-block;
}

#alt-actions li:not(:last-child){
	margin-bottom: 21px;
}
#edit_poll a{
	padding: 10px 28px 11px;
}

#start_poll a{
	padding: 10px 26px 11px;
}

@media screen and (max-width:770px){
	#alt-actions li{
		margin-right: 20px;
		text-align: left;
	}
	#alt-actions{
		text-align: left;
	}
	#edit_poll a, #start_poll a, #delete_poll a {
		padding: 10px 22px 11px;
	}
	
}

@media screen and (max-width:500px){
	#alt-actions{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	#user_content{
		padding: 12px !important;
	}
	#start_poll{
		margin-right: 0px;
	}
	#date-time{
		width: 100% !important;
		text-align: left !important
	} 

}

#user_search{
	padding: 0;
}
#search_polls{
	font-size: 16px;
	float:left;
	width: 70%;
	margin-right: 10px;
}
#search_polls_submit{
	float: left;
	width:25%;
	padding: 9px 10px;
	margin-top: 1px;
	background: #e95c41;
	border: 1px solid #5e5e5e;
}

#search_polls_submit:hover{
	background:rgba(237, 93, 59, 0.80)
}


input[type="search"]{
	height: 10px;
}

#user_actions li{
	display: inline-block;
}

#user_actions a{
	color: #fff;
	font-weight: normal;

}

#create_button{
	background: #e95c41;
	border: 1px solid #5e5e5e;
	
}

#create_button:hover{
	background:rgba(237, 93, 59, 0.80)
}

#hidden_actions{
	float: left;
	margin: 0px;
	padding-top: 9px;
	padding-left: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 11px;
}

#hidden_actions li:not(:last-child) a{
	border-right: 1px solid rgba(255,255,255,0.5);
}

#hidden_actions li:first-child a{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#hidden_actions li:last-child a{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#alt-actions a{
	background:#46bcd2;
	color: #fff;
	border: 1px solid #558f83;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	font-weight: 400;
}
a.red:hover{
	background:rgba(237, 93, 59, 0.80)
}


#search_polls{
	font-size: 18px;
	float:left;
}

#search_polls_submit{
	float: left;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	color: #fff;
}

#create_button{
	float: left;
	margin-right: 20px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#user_content{
	border-top: 1px solid #fff;
	position: relative;
	top: -45px;
	background: #fff;
	border-radius: 12px 12px 0px 0px;
	margin: 0 3px;
	padding: 40px;
}

#user_content h1{
	font-size: 2.3em;
	margin: 0px 0px 10px 0px;
	color: #333;
	font-weight: 400;
}

#user_content div#poll_container:not(:first-child){
	border-top: 1px solid #222;
	padding-top: 20px;
}

#poll_container{
	padding-bottom: 20px;
}


#poll_brief, #sub_content, #date-time, #poll_title{
	padding: 0px;
}


#poll_title, #poll_check, #date-time{
	float: left;
	margin:0;
}

#poll_check{
	width: 4%;
	font-size: 16px;
	margin-top: 6px;
	margin-right: 10px;
}
#poll_title{
	width: 70%;
}

#date-time{
	width: 22%;
	text-align: right;
	font-size: 1.3em;
	color: #333;
}

#sub_content{
}

#user_body footer{
	background: #333;
	color: #fff;
}

#user_body footer p{
	color: #fff;
	height: 300px;
}


/* Account Setting Page */

#settings{
	border-right: 1px solid #333;
}

#settings_title{
	color: white;
	margin-bottom: 10px;
	font-size: 3.8rem;
}

#settings_content{
	border-top: 1px solid #fff;
	position: relative;
	top: -45px;
	background: #fff;
	border-radius: 12px 12px 0px 0px;
	margin: 0 3px;
	padding: 40px;
}

#changeEmailBtn, #changePasswordBtn {
	background:#46bcd2;
	color: #fff;
	border: 1px solid #558f83;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	font-weight: 400;
}

#deleteAccountBtn{
	background: #e95c41;
	color: #fff;
	border: 1px solid #333;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	font-weight: 400;
	font-size: 1.9em;
	text-align: center;	
}

#settings_main label{
	font-size: 1.5em;
	font-weight: 400;
	padding-bottom: 12px;
}

#accountPasswordForm, #accountEmailForm{
	border-bottom: 1px solid #000;
}

#accountPasswordForm input, #accountEmailForm input{
	margin-top: 12px;
}



/* Create Poll Page */

#create_poll_header{
	background: #46bcd2;
	padding-bottom: 38px;
}
#create_title h1{
	color: white;
	margin-bottom: 10px;
	font-size: 2.8rem;
	font-weight: 300;
}

#create_content{
	border-top: 1px solid #fff;
	position: relative;
	top: -90px;
	background: #fff;
	border-radius: 12px 12px 0px 0px;
	margin: 0 3px;
	padding: 6px 40px 40px 40px;
}

#poll_info{
	margin-bottom: 18px;
	margin-top: 18px;
}

#pollName{
	font-size: 16px;
	padding: 4px;
}

#pollDescription{
	height: 90px;
}

#pollDescription, #pollName{
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	resize: none;
}

.create_actions{
	margin: 0 auto;
	width: 93%;
}
#create_actions input[type="button"]{
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	
	
}

#createBtn, #finishBtn, #save_quitBtn{
	color: white;
}

#finishBtn, #save_quitBtn{
	float: right;
	margin: 0 6px;
}

#createPollBtn:hover, #finishBtn:hover, #save_quitBtn:hover{
	background:rgba(237, 93, 59, 0.80)
}

#poll_info label{
	display: block
}

ol.poll-grid{
	list-style: none;
	text-align: center;
	padding:4px;
	display: none;
	padding-top: 16px;
}
ol.poll-grid li {
	float: left;
	width: 20%;
	margin: 0 5% 0 0;
	}
ol.poll-grid li:nth-child(4sn) {
	margin-right: 0;
	}
}

.question_wrap{
	padding-bottom: 16px;
	border-bottom: 1px solid #333;
	padding: 12px;
}

.question_wrap:not(:last-child){
	border-bottom: 1px solid #333;
	padding-bottom: 16px;
}

.question_wrap h3{
	border-bottom: none;
}

.question_wrap:last-child{
	margin-bottom: 38px;
	border-bottom: none;
}
	
.question_wrap textarea{
	width: 96%;
	height: 160px;
	resize: none;
	margin: 0 auto;
}

.question_wrap .textarea_small{
	width: 97%;
	height: 80px;
	resize: none;
}

.question_wrap fieldset{

}
.question_wrap span{
	float: left;
}

.mc_response, .tf_response{
	float: left;
	width: 92%;
	margin-left: 12px;
	margin-top: 10px;
	font-size: 16px;
	
}

.tf_response{
	width: 85%;
}

#create_footer{
d}



/* End Create Poll Page */

@media screen and (max-width: 490px) {
	#login_submit {
		
	}
	#signup-container{

		top: -2rem;
	}
}
@media screen and (min-width:770px){
	ul.right{
		background: #fff;
		border-radius: 4px;
	}

	#features,#signup,#log{
	}
}
@media screen and (min-width:490px){
	#login-container h1{
		margin-top: 40px;
	}
}


@media screen and (min-width:770px){
	
/* Set up grid */
	.row { width: 1020px; max-width: 100%; min-width: 768px; margin: 0 auto; padding: 0 10px}
	.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
	.row.collapse .column, .row.collapse .columns { padding: 0; }
	.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
	.row .row.collapse { margin: 0; }

	.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
	.column.centered, .columns.centered { float: none; margin: 0 auto; }

	[class*="column"] + [class*="column"]:last-child { float: right; }

	[class*="column"] + [class*="column"].end { float: left; }
	.one, .row .one { width: 8.33333%; }
	
	.two, .row .two { width: 16.66667%; }

	.three, .row .three { width: 25%; }

	.four, .row .four { width: 33.33333%; }

	.five, .row .five { width: 41.66667%; }

	.six, .row .six { width: 50%; }

	.seven, .row .seven { width: 58.33333%; }

	.eight, .row .eight { width: 66.66667%; }

	.nine, .row .nine { width: 75%; }

	.ten, .row .ten { width: 83.33333%; }

	.eleven, .row .eleven { width: 91.66667%; }

	.twelve, .row .twelve { width: 100%; }
	
	#hero{

	}

	.right{
		float: right;
	}
	.left{
		float: left;
	}
	
	.sub_text{
		font-size: 13px;
		display: block;
	}

	div#text.left{
		width: 45%;
	}

	header{
	}
	
	header nav{
		padding: 1%;
	}

	
	#name{
		display: inline;
		width: 10%;
		margin-top: 0;
	}

	span.right{
		width: 45%;
	}


	#how_to_use ol{width: 100%}
	#how_to_use ol.thumb-grid li {
		list-style: none;
		float: left;
		width: 29%;
		margin: 0 5% 5% 0;
		}
	#how_to_use ol.thumb-grid li:nth-child(5n) {
		margin-right: 0;
		}
	#how_to_use ol.thumb-grid li a img {
		width: 100%;
		}
		
		#hero h2{
		
			margin-bottom: 0;
		}


		#session_code{
			padding: 25px;
		}
		
		#hero_content a{
			margin-top: 10px;
		}
	
}
@media screen and (max-width: 500px){
	#signup-container, #login-container{
		padding: 0px;
	}
}
@media screen and (max-width: 770px){
	#signup-container h1{
		margin-left: 12px;
	}	
	#login-content{
		background-color: #fff;
		padding: 20px;
	}
	
	#signup-container h1{
	}
	
}

@media screen and (min-width:770px){
	#home.small{
		display: none;
	}

}

@media screen and (min-width:820px){
	#signup_nav_links{
		text-align: right;
	}
	
}
/* Foundation Top Bar
 Requires: -jquery.foundation.topbar.js
 Notes: - <nav class="top-bar"> can have .fixed added to make it stick to the top of viewport. Can add .contain-to-grid to top-bar to make it full width but content on grid. - <li class="name"> creates a branding area that can be linked to homepage - Can include text, image or both inside this <li>. - <li class="divider"> creates a divider between nav items, add margins for space - <li class="search"> Needs to hold a <form> which can use .row.collapse and pre/postfix buttons or default type="search"
*/
/* Element that controls breakpoint, no need to change this ever */
.top-bar-js-breakpoint { width: 960px !important; visibility: hidden; }

/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid { width: 100%; background: #222222; }

/* Wrapped around .top-bar to make it fixed at the top */
.fixed { width: 100%; left: 0; position: fixed; top: 0; z-index: 99; }

/* <nav> */
.top-bar { height: 75px; line-height: 45px; margin: 0 0 10px; padding: 0; width: 100%;padding-top: 22px; /* Contain width to .row width */ /* First <ul> for branding, title, name, etc */ /* topbar global <ul> styles */ }
.contain-to-grid .top-bar { width: 940px; margin: 0 auto; }
.top-bar > ul{padding-left: 0}
.top-bar > ul .name h1 { line-height: 45px; margin: 0; color: #ddd }
.top-bar > ul .name h1 a { font-weight: bold; padding: 0 22.5px; font-size: 20px !important; color: #ddd}
.top-bar > ul .name img { margin-top: -5px; vertical-align: middle; }
.top-bar ul { display: inline; height: 45px; line-height: 45px; list-style: none; /* Main Navigation links style */ /* Left Side <ul> */ /* Right Side <ul> */ }
.top-bar ul > li { float: left; /* Dividers between navigation */ /* Put a button in an <li> but give is a class */ /* Put a search bar or text input in the bar */ /* Hide the triangle for breakpoint menu */ /* li.has-dropdown */ }
.top-bar ul > li a:not(.button) { color: #fff; display: block; font-size: 14px; font-weight: 300; height: 45px; line-height: 45px; padding: 0 15px; }
.top-bar ul > li.name a:not(.button) { color: #fff; display: block; font-size: 14px; font-weight: bold; height: 45px; line-height: 45px; padding: 0 15px; }
.top-bar ul > li.name a:not(.button):hover { color: #67708f; display: block; font-size: 14px; font-weight: 300; height: 45px; line-height: 45px; padding: 0 15px; }
.top-bar ul > li a:not(.button):hover { color: #67708f; display: block; font-size: 14px; font-weight: 300; height: 45px; line-height: 45px; padding: 0 15px; }

/*.top-bar ul > li:hover, .top-bar ul > li.active { background: #fff; }*/
.top-bar ul > li:hover a, .top-bar ul > li.active a { color: #d9d9d9; }
.top-bar ul > li.divider { background: black; -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); height: 100%; margin-right: 1px; width: 1px; }
.top-bar ul > li.has-button a.button { margin: 0 11.25px; }
.top-bar ul > li.has-button:hover { background: #222222; }
.top-bar ul > li.has-button:hover a { color: #fff; }
.top-bar ul > li.search { padding: 0 15px; }
.top-bar ul > li.search form { display: inline-block; margin-bottom: 0; vertical-align: middle; width: 200px; }
.top-bar ul > li.search form input[type=text] { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; float: left; font-size: 13px; margin-top: -1px; height: 22.5px; }
.top-bar ul > li.search form input[type=text] + .button { border-left: none; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; float: left; font-size: 12px; margin-top: -1px; padding: 5px 12px 4px; }
.top-bar ul > li.search form input[type=search] { font-size: 16px; margin-bottom: 0; }
.top-bar ul > li.search:hover { background: #222222; }
.top-bar ul > li.toggle-topbar { display: none; }
.top-bar ul > li.has-dropdown { position: relative; /* Dropdown Level 2+ */ }
.top-bar ul > li.has-dropdown:hover > .dropdown { display: block; visibility: visible; }
.top-bar ul > li.has-dropdown a { padding-right: 33.75px; }
.top-bar ul > li.has-dropdown a:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #ddd transparent transparent transparent; margin-right: 15px; margin-top: -2.5px; position: absolute; right: 0; top: 50%; }
.top-bar ul > li.has-dropdown .dropdown { background: #222222; left: 0; margin: 0; padding: 9px 0 0 0; position: absolute; visibility: hidden; z-index: 99; }
.top-bar ul > li.has-dropdown .dropdown li { background: #222222; line-height: 1; min-width: 100%; padding-bottom: 5px; }
.top-bar ul > li.has-dropdown .dropdown li a { font-weight: normal; height: 100%; line-height: 1; padding: 5px 17px 5px 15px; white-space: nowrap; }
.top-bar ul > li.has-dropdown .dropdown li a:after { border: none; }
.top-bar ul > li.has-dropdown .dropdown li a:hover { background: #3c3c3c; border-bottom: 1px solid #444}
.top-bar ul > li.has-dropdown .dropdown li label { color: #6f6f6f; font-size: 10px; font-weight: bold; margin: 0; padding-left: 15px; text-transform: uppercase; }
.top-bar ul > li.has-dropdown .dropdown li.divider { border-top: solid 1px black; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; height: 10px; padding: 0; width: 100%; }
.top-bar ul > li.has-dropdown .dropdown li:last-child { padding-bottom: 10px; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a { padding-right: 30px; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a:after { border: none; content: "\00bb"; right: 5px; top: 6px; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown .dropdown { position: absolute; left: 100%; top: 0; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown:hover > .dropdown { display: block; }
.top-bar ul.left { float: left; width: auto; margin-bottom: 0; }
.top-bar ul.right { float: right; width: auto; margin-bottom: 0; padding-left: 0px; /* Dropdown Right Side Alignment */ }
.top-bar ul.right .has-dropdown .dropdown { left: auto; right: -1px; }
.top-bar ul.right .has-dropdown .dropdown li.has-dropdown > .dropdown { right: 100%; left: auto; width: 100%; }
.top-bar .js-generated { display: none; }

/* Firefox Fixes */
@-moz-document url-prefix() { .top-bar ul li .button.small { padding-bottom: 6px; }
  .top-bar ul li.search form input[type=search] { font-size: 14px; height: 22px; padding: 3px; } }

/* IE8 Fixes */
.lt-ie9 .top-bar ul li a { color: white; display: block; font-weight: bold; font-size: 13px; height: 45px; line-height: 45px; padding: 0 15px; }
.lt-ie9 .top-bar ul li a.button { height: auto; line-height: 30px; margin-top: 7px; }
.lt-ie9 .top-bar ul li a:hover { color: #cccccc; }
.lt-ie9 .top-bar ul li a img { margin-top: -5px; vertical-align: middle; }
.lt-ie9 .top-bar ul li a.active { background: #151515; color: #d9d9d9; }

.lt-ie9 .top-bar ul li.has-dropdown { padding-right: 33.75px; }
.lt-ie9 .top-bar ul li.has-dropdown > ul li { padding-right: 0; }

/* Mobile Styles */
@media only screen and (max-width: 769px) { .top-bar { margin-bottom: 0; overflow: hidden; /* Override contain to grid stuff for breakpoint */ /* Setting up the sliding area */ /* When the Small Nav is Showing */ }
  .top-bar .js-generated { display: block; }
  .contain-to-grid .top-bar { width: auto; }
  .top-bar section { left: 0; position: relative; width: auto; -webkit-transition: left 300ms; -moz-transition: left 300ms; -o-transition: left 300ms; transition: left 300ms; }
  .top-bar ul { width: 100%; min-height: 100%; height: 100%; margin-bottom: 0; margin-top:0;display: block; }
  .top-bar ul li { float: none; /* Branding and name */ /* Dropdown Toggle */ /* Divider for breakpoint */ /* Search Overrides for breakpoint size */ /* Dropdown Level 1 */ /* Dropdown Level 2 */ }
  .top-bar ul li#title{display: inline-block}
  /*.top-bar ul li.active, .top-bar ul li:hover { background: #151515; }
  ./*top-bar ul li.name { background: black; }*/
  .top-bar ul li.name h1 { line-height: 1; }
  .top-bar ul li.name h1 a { padding-left: 22.5px; }
  .top-bar ul li.toggle-topbar { cursor: pointer; display: block; height: 45px; position: absolute; right: 0; top: 35px; width: 50%; }
  .top-bar ul li.toggle-topbar a { content: ""; display: block; width: 0; height: 0; border: solid 10px; border-color:#fff transparent transparent transparent; padding: 0; position: absolute; top: 50%; right: 22.5px; margin-top: -7px; }
  .top-bar ul li.toggle-topbar a { padding: 0 !important; }
  .top-bar ul li.divider { border-bottom: solid 1px rgba(255, 255, 255, 0.2); border-top: solid 1px black; clear: both; height: 1px !important; margin: 8px 0 !important; width: 100%; }
  .top-bar ul li.search { padding: 0 22.5px; }
  .top-bar ul li.search form { width: 100%; }
  .top-bar ul li.search form input[type=text] { width: 75%; }
  .top-bar ul li.search form .button { top: 0; width: 25%; }
  .top-bar ul li.has-dropdown a { padding-right: 33.75px; }
  .top-bar ul li.has-dropdown a:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent transparent rgba(255, 255, 255, 0.5); margin-right: 15px; margin-top: -4.5px; position: absolute; top: 50%; }
  .top-bar ul li.has-dropdown:hover > .dropdown { display: block; visibility: hidden; }
  .top-bar ul li.has-dropdown .dropdown { visibility: hidden; z-index: 0 !important; }
  .top-bar ul li.has-dropdown.moved { position: static; }
  .top-bar ul li.has-dropdown.moved .dropdown { top: 0; visibility: visible; }
  .top-bar ul li.has-dropdown.moved .dropdown li label { margin-bottom: 6px; padding-top: 6px !important; font-size: 11px; }
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) { padding-bottom: 0; }
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) a { padding: 8px 22.5px; font-size: 14px; }
  .top-bar ul li.has-dropdown.moved .dropdown li a, .top-bar ul li.has-dropdown.moved .dropdown li label { padding: 0 22.5px; }
  .top-bar ul li.has-dropdown.moved .dropdown li a:hover { background: transparent; display: block; }
  .top-bar ul li.has-dropdown.moved .dropdown li.divider { border-bottom: solid 1px rgba(255, 255, 255, 0.1); margin-top: 8px !important; margin-bottom: 8px !important; }
  .top-bar ul li.has-dropdown.moved .back.title { padding-bottom: 0; }
  .top-bar ul li.has-dropdown.moved .back.title a:before { position: absolute; top: 50%; left: 17.5px; margin-top: -5px; width: 0; height: 0; content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: transparent white transparent transparent; }
  .top-bar ul li.has-dropdown.moved .back.title h5 { margin: 0; padding-left: 15px; position: relative; }
  .top-bar ul li.has-dropdown.moved .back.title h5 a { padding-top: 8px; padding-bottom: 8px; font-size: 23px; font-weight: bold; }
  .top-bar ul li.has-dropdown .dropdown li { background: transparent; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown .dropdown { left: 100% !important; top: 0; right: auto !important; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown > a { padding-right: 33.75px; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown > a:after { content: ""; margin-right: 15px; content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent transparent rgba(255, 255, 255, 0.5); position: absolute; top: 50%; margin-top: -4.5px; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown.moved { position: static; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown.moved .dropdown { top: 0; visibility: visible; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown:hover { display: block; }
  .top-bar ul.left, .top-bar ul.right { float: none; width: 100%; }
  .top-bar ul.left > li, .top-bar ul.right > li { display: block; float: none; margin: 0 !important; }
  .top-bar ul.left > li.has-dropdown .dropdown, .top-bar ul.right > li.has-dropdown .dropdown { left: 100% !important; top: 0; right: auto !important; }
  .top-bar section > ul li a:not(.button) { padding-left: 22.5px !important;  	border-bottom: 2px solid #444751;
}

  .top-bar.expanded { height: 100%; }
  .top-bar.expanded ul li.toggle-topbar a { content: ""; display: block; width: 0; height: 0; border: solid 10px; border-color: transparent transparent #fff transparent; top: auto; bottom: 50%; margin-bottom: -7px; }
  .top-bar ul li.has-button { padding: 0 20px 5px; }
  .top-bar ul li .button.small { margin: 0 !important; display: inline-block; width: 100%; } 

}


fieldset {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	border: none;
	}
fieldset.form-actions {
	margin: 0 0 0 20%;
	padding: 0;
	border: none;
	}

#session fieldset label {
	float: left;
	width: 20%;
	margin: 4px 0 5px 0;
	font-weight: bold;
	}
fieldset.check label {
	display: inline;
	float: none;
	width: auto;
	font-weight: normal;
	}
fieldset.radio ul li label {
	display: inline;
	float: none;
	width: auto;
	font-weight: normal;
	}
input.form-text,
textarea {
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #ddd;
	background: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
fieldset input.form-text:focus {
	border: 1px solid #ccc;
	background: #fff;
	}
fieldset textarea {
	height: 150px;
	}
fieldset select {
	min-width: 25%;
	margin: 0;
	}


input[type="submit"] {
	margin: 0;
	padding: 10px 10px;
	width: 75%;
	font-size: 12px;	
	font-weight: bold;
	border: 1px solid #ccc;
	background: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
input[type="submit"]:hover,
input[type="submit"]:focus {
	border: 1px solid #bbb;
	background: #e5e5e5;
	cursor: pointer; 
	
	}
input[type="submit"]:active {
	border: 1px solid #ccc;
	background: #eee;
	}
@media screen and (max-width: 760px) {
	fieldset label {
		display: block;
		float: none;
		width: auto;
		margin: 0 0 5px 0;
		}
	fieldset.form-actions,
	fieldset.check,
	fieldset.radio ul,
	fieldset p.form-help {
		margin-left: 0;
		padding-left: 0;
		}
	fieldset input.form-text,
	fieldset textarea {
		width: 65%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
		input[type="submit"]{
			width: 50%;
		}
	}
@media screen and (max-width: 500px) {
	#session-id input[type="submit"]{
		width: 98%;
	}
}

@media screen and (max-width: 767px) {
	body{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.container{
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
	#main-create{
		text-align: center;
	}
}

