@import(reset.css);

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body{
	font-family:"Helvetica Neue", Helvetica, Arial, Veranda,sans-serif; 
	padding: 0;
	margin: 0 auto;
	font-size:62.5%;
	background: #eee;
	min-width: 0;
}

::selection {
	background: rgba(252, 107, 53, 0.6); /* Safari */
	}
::-moz-selection {
	background: rgba(252, 107, 53, 0.6); /* Firefox */
}