/* Element that controls breakpoint, no need to change this ever */
/* 
  reset.css
  
  Adapted from:
  Normalize.css by Nicolas Gallagher and Jonathan Neal: https://github.com/necolas/normalize.css/
  HTML5 boilerplate: http://html5boilerplate.com/
  HTML5 Doctor Reset by Eric Meyer and Richard Clark: html5doctor.com/html-5-reset-stylesheet/
  
  Modified by James Dempsey
  
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  color: blue;
}
a:focus {
  outline: thin dotted;
}
li {
  list-style: none;
}
abbr[title] {
  border-bottom: none;
}
b,
strong {
  font-weight: 700;
}
i,
em,
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
label {
  cursor: pointer;
}
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
@media screen and (max-width: 490px) {
  #signup-container {
    top: -2rem;
  }
}
@media screen and (min-width: 770px) {
  ul.right {
    background: #fff;
    border-radius: 4px;
  }
}
@media screen and (min-width: 490px) {
  #login-container h1 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 770px) {
  /* Set up grid */
  .row {
    width: 1020px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
  }
  .row.collapse .column,
  .row.collapse .columns {
    padding: 0;
  }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
  }
  .row .row.collapse {
    margin: 0;
  }
  .column,
  .columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
  }
  .column.centered,
  .columns.centered {
    float: none;
    margin: 0 auto;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
  .one,
  .row .one {
    width: 8.33333%;
  }
  .two,
  .row .two {
    width: 16.66667%;
  }
  .three,
  .row .three {
    width: 25%;
  }
  .four,
  .row .four {
    width: 33.33333%;
  }
  .five,
  .row .five {
    width: 41.66667%;
  }
  .six,
  .row .six {
    width: 50%;
  }
  .seven,
  .row .seven {
    width: 58.33333%;
  }
  .eight,
  .row .eight {
    width: 66.66667%;
  }
  .nine,
  .row .nine {
    width: 75%;
  }
  .ten,
  .row .ten {
    width: 83.33333%;
  }
  .eleven,
  .row .eleven {
    width: 91.66667%;
  }
  .twelve,
  .row .twelve {
    width: 100%;
  }
  #hero {
    margin-top: 30px;
    padding: 40px 0 0 0;
    border-top: 5px solid #e0e0e0;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .sub_text {
    font-size: 13px;
    display: block;
  }
  div#text.left {
    width: 45%;
  }
  header nav {
    padding: 1%;
  }
  #name {
    display: inline;
    width: 10%;
    margin-top: 0;
  }
  span.right {
    width: 45%;
  }
  #how_to_use ol {
    width: 100%;
  }
  #how_to_use ol.thumb-grid li {
    list-style: none;
    float: left;
    width: 29%;
    margin: 0 5% 5% 0;
  }
  #how_to_use ol.thumb-grid li:nth-child(5n) {
    margin-right: 0;
  }
  #how_to_use ol.thumb-grid li a img {
    width: 100%;
  }
  #hero h2 {
    margin-bottom: 0;
  }
  #session_code {
    padding: 45px;
  }
  #hero_content a {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  #signup-container,
  #login-container {
    padding: 0px;
  }
}
@media screen and (max-width: 770px) {
  #signup-container h1 {
    margin-left: 12px;
  }
  #login-content {
    background-color: #fff;
    padding: 20px;
  }
}
@media screen and (min-width: 770px) {
  #home.small {
    display: none;
  }
}
@media screen and (min-width: 820px) {
  #signup_nav_links {
    text-align: right;
  }
}
/* Foundation Top Bar
 Requires: -jquery.foundation.topbar.js
 Notes: - <nav class="top-bar"> can have .fixed added to make it stick to the top of viewport. Can add .contain-to-grid to top-bar to make it full width but content on grid. - <li class="name"> creates a branding area that can be linked to homepage - Can include text, image or both inside this <li>. - <li class="divider"> creates a divider between nav items, add margins for space - <li class="search"> Needs to hold a <form> which can use .row.collapse and pre/postfix buttons or default type="search"
*/
/* Element that controls breakpoint, no need to change this ever */
.top-bar-js-breakpoint {
  width: 960px !important;
  visibility: hidden;
}
/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid {
  width: 100%;
  background: #222222;
}
/* Wrapped around .top-bar to make it fixed at the top */
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
/* <nav> */
.top-bar {
  height: 75px;
  line-height: 45px;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  padding-top: 22px;
  /* Contain width to .row width */
  /* First <ul> for branding, title, name, etc */
  /* topbar global <ul> styles */
}
.contain-to-grid .top-bar {
  width: 940px;
  margin: 0 auto;
}
.top-bar > ul {
  padding-left: 0;
}
.top-bar > ul .name h1 {
  line-height: 45px;
  margin: 0;
  color: #dddddd;
}
.top-bar > ul .name h1 a {
  font-weight: bold;
  padding: 0 22.5px;
  font-size: 20px !important;
  color: #dddddd;
}
.top-bar > ul .name img {
  margin-top: -5px;
  vertical-align: middle;
}
.top-bar ul {
  display: inline;
  height: 45px;
  line-height: 45px;
  list-style: none;
  /* Main Navigation links style */
  /* Left Side <ul> */
  /* Right Side <ul> */
}
.top-bar ul > li {
  float: left;
  /* Dividers between navigation */
  /* Put a button in an <li> but give is a class */
  /* Put a search bar or text input in the bar */
  /* Hide the triangle for breakpoint menu */
  /* li.has-dropdown */
}
.top-bar ul > li a:not(.button) {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.top-bar ul > li.name a:not(.button) {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.top-bar ul > li.name a:not(.button):hover {
  color: #67708f;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.top-bar ul > li a:not(.button):hover {
  color: #67708f;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
/*.top-bar ul > li:hover, .top-bar ul > li.active { background: #fff; }*/
.top-bar ul > li:hover a,
.top-bar ul > li.active a {
  color: #d9d9d9;
}
.top-bar ul > li.divider {
  background: black;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  height: 100%;
  margin-right: 1px;
  width: 1px;
}
.top-bar ul > li.has-button a.button {
  margin: 0 11.25px;
}
.top-bar ul > li.has-button:hover {
  background: #222222;
}
.top-bar ul > li.has-button:hover a {
  color: #fff;
}
.top-bar ul > li.search {
  padding: 0 15px;
}
.top-bar ul > li.search form {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 200px;
}
.top-bar ul > li.search form input[type=text] {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  font-size: 13px;
  margin-top: -1px;
  height: 22.5px;
}
.top-bar ul > li.search form input[type=text] + .button {
  border-left: none;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
  font-size: 12px;
  margin-top: -1px;
  padding: 5px 12px 4px;
}
.top-bar ul > li.search form input[type=search] {
  font-size: 16px;
  margin-bottom: 0;
}
.top-bar ul > li.search:hover {
  background: #222222;
}
.top-bar ul > li.toggle-topbar {
  display: none;
}
.top-bar ul > li.has-dropdown {
  position: relative;
  /* Dropdown Level 2+ */
}
.top-bar ul > li.has-dropdown:hover > .dropdown {
  display: block;
  visibility: visible;
}
.top-bar ul > li.has-dropdown a {
  padding-right: 33.75px;
}
.top-bar ul > li.has-dropdown a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #ddd transparent transparent transparent;
  margin-right: 15px;
  margin-top: -2.5px;
  position: absolute;
  right: 0;
  top: 50%;
}
.top-bar ul > li.has-dropdown .dropdown {
  background: #222222;
  left: 0;
  margin: 0;
  padding: 9px 0 0 0;
  position: absolute;
  visibility: hidden;
  z-index: 99;
}
.top-bar ul > li.has-dropdown .dropdown li {
  background: #222222;
  line-height: 1;
  min-width: 100%;
  padding-bottom: 5px;
}
.top-bar ul > li.has-dropdown .dropdown li a {
  font-weight: normal;
  height: 100%;
  line-height: 1;
  padding: 5px 17px 5px 15px;
  white-space: nowrap;
}
.top-bar ul > li.has-dropdown .dropdown li a:after {
  border: none;
}
.top-bar ul > li.has-dropdown .dropdown li a:hover {
  background: #3c3c3c;
  border-bottom: 1px solid #444444;
}
.top-bar ul > li.has-dropdown .dropdown li label {
  color: #6f6f6f;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
}
.top-bar ul > li.has-dropdown .dropdown li.divider {
  border-top: solid 1px black;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  height: 10px;
  padding: 0;
  width: 100%;
}
.top-bar ul > li.has-dropdown .dropdown li:last-child {
  padding-bottom: 10px;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a {
  padding-right: 30px;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a:after {
  border: none;
  content: "\00bb";
  right: 5px;
  top: 6px;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown:hover > .dropdown {
  display: block;
}
.top-bar ul.left {
  float: left;
  width: auto;
  margin-bottom: 0;
}
.top-bar ul.right {
  float: right;
  width: auto;
  margin-bottom: 0;
  padding-left: 0px;
  /* Dropdown Right Side Alignment */
}
.top-bar ul.right .has-dropdown .dropdown {
  left: auto;
  right: -1px;
}
.top-bar ul.right .has-dropdown .dropdown li.has-dropdown > .dropdown {
  right: 100%;
  left: auto;
  width: 100%;
}
.top-bar .js-generated {
  display: none;
}
/* Firefox Fixes */
@-moz-document url-prefix() {
  .top-bar ul li .button.small {
    padding-bottom: 6px;
  }
  .top-bar ul li.search form input[type=search] {
    font-size: 14px;
    height: 22px;
    padding: 3px;
  }
}
/* IE8 Fixes */
.lt-ie9 .top-bar ul li a {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 13px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.lt-ie9 .top-bar ul li a.button {
  height: auto;
  line-height: 30px;
  margin-top: 7px;
}
.lt-ie9 .top-bar ul li a:hover {
  color: #cccccc;
}
.lt-ie9 .top-bar ul li a img {
  margin-top: -5px;
  vertical-align: middle;
}
.lt-ie9 .top-bar ul li a.active {
  background: #151515;
  color: #d9d9d9;
}
.lt-ie9 .top-bar ul li.has-dropdown {
  padding-right: 33.75px;
}
.lt-ie9 .top-bar ul li.has-dropdown > ul li {
  padding-right: 0;
}
/* Mobile Styles */
@media only screen and (max-width: 769px) {
  .top-bar {
    margin-bottom: 0;
    overflow: hidden;
    /* Override contain to grid stuff for breakpoint */
    /* Setting up the sliding area */
    /* When the Small Nav is Showing */
  }
  .top-bar .js-generated {
    display: block;
  }
  .contain-to-grid .top-bar {
    width: auto;
  }
  .top-bar section {
    left: 0;
    position: relative;
    width: auto;
    -webkit-transition: left 300ms;
    -moz-transition: left 300ms;
    -o-transition: left 300ms;
    transition: left 300ms;
  }
  .top-bar ul {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
  }
  .top-bar ul li {
    float: none;
    /* Branding and name */
    /* Dropdown Toggle */
    /* Divider for breakpoint */
    /* Search Overrides for breakpoint size */
    /* Dropdown Level 1 */
    /* Dropdown Level 2 */
  }
  .top-bar ul li#title {
    display: inline-block;
  }
  /*.top-bar ul li.active, .top-bar ul li:hover { background: #151515; }
    ./*top-bar ul li.name { background: black; }*/
  .top-bar ul li.name h1 {
    line-height: 1;
  }
  .top-bar ul li.name h1 a {
    padding-left: 22.5px;
  }
  .top-bar ul li.toggle-topbar {
    cursor: pointer;
    display: block;
    height: 45px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 50%;
  }
  .top-bar ul li.toggle-topbar a {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: #fff transparent transparent transparent;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 22.5px;
    margin-top: -7px;
  }
  .top-bar ul li.toggle-topbar a {
    padding: 0 !important;
  }
  .top-bar ul li.divider {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    border-top: solid 1px black;
    clear: both;
    height: 1px !important;
    margin: 8px 0 !important;
    width: 100%;
  }
  .top-bar ul li.search {
    padding: 0 22.5px;
  }
  .top-bar ul li.search form {
    width: 100%;
  }
  .top-bar ul li.search form input[type=text] {
    width: 75%;
  }
  .top-bar ul li.search form .button {
    top: 0;
    width: 25%;
  }
  .top-bar ul li.has-dropdown a {
    padding-right: 33.75px;
  }
  .top-bar ul li.has-dropdown a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    margin-top: -4.5px;
    position: absolute;
    top: 50%;
  }
  .top-bar ul li.has-dropdown:hover > .dropdown {
    display: block;
    visibility: hidden;
  }
  .top-bar ul li.has-dropdown .dropdown {
    visibility: hidden;
    z-index: 0 !important;
  }
  .top-bar ul li.has-dropdown.moved {
    position: static;
  }
  .top-bar ul li.has-dropdown.moved .dropdown {
    top: 0;
    visibility: visible;
  }
  .top-bar ul li.has-dropdown.moved .dropdown li label {
    margin-bottom: 6px;
    padding-top: 6px !important;
    font-size: 11px;
  }
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) {
    padding-bottom: 0;
  }
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) a {
    padding: 8px 22.5px;
    font-size: 14px;
  }
  .top-bar ul li.has-dropdown.moved .dropdown li a,
  .top-bar ul li.has-dropdown.moved .dropdown li label {
    padding: 0 22.5px;
  }
  .top-bar ul li.has-dropdown.moved .dropdown li a:hover {
    background: transparent;
    display: block;
  }
  .top-bar ul li.has-dropdown.moved .dropdown li.divider {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  .top-bar ul li.has-dropdown.moved .back.title {
    padding-bottom: 0;
  }
  .top-bar ul li.has-dropdown.moved .back.title a:before {
    position: absolute;
    top: 50%;
    left: 17.5px;
    margin-top: -5px;
    width: 0;
    height: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent white transparent transparent;
  }
  .top-bar ul li.has-dropdown.moved .back.title h5 {
    margin: 0;
    padding-left: 15px;
    position: relative;
  }
  .top-bar ul li.has-dropdown.moved .back.title h5 a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 23px;
    font-weight: bold;
  }
  .top-bar ul li.has-dropdown .dropdown li {
    background: transparent;
  }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown .dropdown {
    left: 100% !important;
    top: 0;
    right: auto !important;
  }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown > a {
    padding-right: 33.75px;
  }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown > a:after {
    content: "";
    margin-right: 15px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -4.5px;
  }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown.moved {
    position: static;
  }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown.moved .dropdown {
    top: 0;
    visibility: visible;
  }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown:hover {
    display: block;
  }
  .top-bar ul.left,
  .top-bar ul.right {
    float: none;
    width: 100%;
  }
  .top-bar ul.left > li,
  .top-bar ul.right > li {
    display: block;
    float: none;
    margin: 0 !important;
  }
  .top-bar ul.left > li.has-dropdown .dropdown,
  .top-bar ul.right > li.has-dropdown .dropdown {
    left: 100% !important;
    top: 0;
    right: auto !important;
  }
  .top-bar section > ul li a:not(.button) {
    padding-left: 22.5px !important;
    border-bottom: 2px solid #444751;
  }
  .top-bar.expanded {
    height: 100%;
  }
  .top-bar.expanded ul li.toggle-topbar a {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: transparent transparent #fff transparent;
    top: auto;
    bottom: 50%;
    margin-bottom: -7px;
  }
  .top-bar ul li.has-button {
    padding: 0 20px 5px;
  }
  .top-bar ul li .button.small {
    margin: 0 !important;
    display: inline-block;
    width: 100%;
  }
}
fieldset {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-size: 14px;
  border: none;
}
fieldset.form-actions {
  margin: 0 0 0 20%;
  padding: 0;
  border: none;
}
#session fieldset label {
  float: left;
  width: 20%;
  margin: 4px 0 5px 0;
  font-weight: bold;
}
fieldset.check label {
  display: inline;
  float: none;
  width: auto;
  font-weight: normal;
}
fieldset.radio ul li label {
  display: inline;
  float: none;
  width: auto;
  font-weight: normal;
}
input.form-text,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
fieldset input.form-text:focus {
  border: 1px solid #ccc;
  background: #fff;
}
fieldset textarea {
  height: 150px;
}
fieldset select {
  min-width: 25%;
  margin: 0;
}
input[type="submit"] {
  margin: 0;
  padding: 10px 10px;
  width: 46%;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #bbb;
  background: #e5e5e5;
  cursor: pointer;
}
input[type="submit"]:active {
  border: 1px solid #ccc;
  background: #eee;
}
@media screen and (max-width: 760px) {
  fieldset label {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 5px 0;
  }
  fieldset.form-actions,
  fieldset.check,
  fieldset.radio ul,
  fieldset p.form-help {
    margin-left: 0;
    padding-left: 0;
  }
  fieldset input.form-text,
  fieldset textarea {
    width: 65%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  #session-id input[type="submit"] {
    width: 98%;
  }
  #login-container {
    margin-top: 20px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
  padding: 0;
  margin: 0 auto;
  font-size: 62.5%;
  background: #eeeeee url('/img/noise.png');
  min-width: 0;
}
.navbar-inner,
.navbar-inverse {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  background: #1b1b1b url('/img/bg.png');
}
.navbar {
  margin-bottom: 0px !important;
}
.container {
  /*width: 1170px !important;*/

}
.img-contain {
  margin: 0 auto;
  text-align: center;
}
.backdrop {
  top: -56px !important;
  border-radius: 12px 12px 0px 0px !important;
  padding: 3px 2px 0px 2px !important;
}
h2 {
  font-weight: 300 !important;
}
h4 {
  color: #fff !important;
}
#search_polls {
  padding: 18px;
}
#user_hello {
  color: #fff;
  font-size: 2.8rem;
}
#user_hero {
  background: #4c8ab0;
  padding-top: 70px;
}
#user_greeting {
  margin-top: 35px;
  margin: 0 5px;
}
#actions_container {
  padding: 40px 0px 10px 0px;
  margin: 0 5px;
  margin-top: 20px;
}
#user_actions {
  padding: 0px;
}
#user_actions li {
  display: inline-block;
}
#user_actions a {
  color: #fff;
  font-weight: normal;
}
#user_search {
  padding: 0;
}
#search_polls {
  font-size: 16px;
  float: left;
  width: 70%;
  margin-right: 10px;
}
#search_polls_submit {
  float: left;
  width: 25%;
  padding: 9px 10px;
  margin-top: 1px;
  background: #e95c41;
  border: 1px solid #5e5e5e;
}
#search_polls_submit:hover {
  background: rgba(237, 93, 59, 0.8);
}
input[type="search"] {
  height: 10px;
}
#alt-actions a {
  background: #46bcd2;
  color: #fff;
  border: 1px solid #558f83;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-weight: 400;
}
a.red:hover {
  background: rgba(237, 93, 59, 0.8);
}
#search_polls {
  font-size: 18px;
  float: left;
}
#search_polls_submit {
  float: left;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: #fff;
}
#create_button {
  float: left;
  margin-right: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#user_content {
  border-top: 1px solid #fff;
  position: relative;
  top: 0px !important;
  background: #fff;
  border-radius: 12px 12px 0px 0px;
  margin: 0 3px;
  padding: 40px;
}
#user_content h1 {
  font-size: 2.3em;
  margin: 0px 0px 10px 0px;
  color: #333;
  font-weight: 400;
}
#user_content div#poll_container:not(:last-child) {
  border-bottom: 0 !important;
  padding-top: 20px;
}
#user_content div#poll_container {
  border: 0 !important;
  border-radius: 6px;
}
#poll_container {
  padding-bottom: 20px !important;
}
#poll_brief,
#sub_content,
#date-time,
#poll_title {
  padding: 0px;
}
#poll_title,
#poll_check,
#date-time {
  float: left;
  margin: 0;
}
#poll_check {
  width: 4%;
  font-size: 16px;
  margin-top: 6px;
  margin-right: 10px;
}
#poll_title {
  width: 70%;
}
#date-time {
  width: 22%;
  text-align: right;
  font-size: 1.3em;
  color: #333;
}
#user_body footer {
  background: #333;
  color: #fff;
}
#user_body footer p {
  color: #fff;
  height: 300px;
}
#user_header {
  /*background: #4c8ab0;*/

  /*background: #72c1b0;      /*green*/

  /*background: #46bcd2;*/
  /*blue*/

  /*background:#fedd84;*/
  /*yellow*/

  padding-bottom: 50px;
  border-bottom: 1px solid #666666;
}
#user_nav #title {
  color: #fff;
}
#user_nav li a {
  color: #333;
  font-weight: 400;
}
#settings {
  border-right: 1px solid #333;
}
#user_greeting {
  margin-top: 35px;
  margin: 0 5px;
}
#user_greeting h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  margin: 0;
}
#user_greeting h3 {
  border-bottom: none;
  padding: 0;
  color: #fff;
  font-size: 2em;
}
#actions_container {
  padding: 40px 0px 10px 0px;
  margin: 0 5px;
  margin-top: 20px;
}
#user_actions {
  padding: 0px;
}
#alt-actions {
  text-align: right;
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
}
#no_polls {
  text-align: center;
  padding-bottom: 80px;
}
article#no_polls h1 {
  font-size: 3.4em;
  font-weight: 300;
}
#no_polls span {
  font-size: 2.2em;
  font-weight: 300;
}
#no_polls span a {
  font-size: 1em;
  color: #e95c41;
  line-height: 36px;
}
#no_polls span a:hover {
  border-bottom: 1px dashed #e95c41;
}
#sub_create {
  font-weight: 400;
  font-size: 1.6rem;
  background: #46bcd2;
  color: #fff;
  border: 1px solid #558f83;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  padding: 20px 32px;
  margin: 20px 0px;
}
#poll_container {
  padding-bottom: 20px;
}
#poll_container:not(:first-child) {
  padding-top: 26px;
}
#poll_container:last-child {
  padding-bottom: 0px;
}
#alt-actions li {
  display: inline-block;
}
#edit_poll a {
  padding: 10px 28px 11px;
}
#start_poll a {
  padding: 10px 26px 11px;
}
#create_button {
  background: #e95c41;
  border: 1px solid #5e5e5e;
  float: left;
  margin-right: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#create_button:hover {
  background: rgba(237, 93, 59, 0.8);
}
.button {
  margin-top: 10px;
  width: auto;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  /* Hovers */
  /* Sizes */
  /* Colors */
  /* Radii */
  /* Layout */
  /* Disabled ---------- */
}
#greeting {
  font-weight: 300 !important;
  padding-top: 10px;
}
input#index-search {
  padding: 18px;
}
#index-search {
  padding: 18px;
  margin-right: 16px;
}
#index-session {
  text-align: center;
}
#index-session button.btn.btn-info {
  padding: 9px;
}
.modal-header p {
  text-align: left;
  font-size: 17px;
  margin: 0px;
}
.modal-header h5 {
  font-size: 18px;
}
#three-steps {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
#three-steps h2 {
  margin-bottom: 46px;
}
#steps {
  margin: 0;
}
#steps li:first-child {
  margin: 0;
}
#steps li h4 {
  display: block;
  color: #000 !important;
}
#steps img {
  margin: 0 auto;
  display: block;
}
#steps li a {
  margin-top: 18px;
  color: #000;
}
#create-step {
  color: #fff !important;
}
#user_content {
  padding: 20px !important;
}
#no_polls span {
  display: block;
}
#guide {
  display: inline;
  text-decoration: none;
  line-height: 70px !important;
}
#footer_content ul li {
  display: inline-block;
  margin-left: 15px;
}
#logged-in {
  min-height: 115px;
}
#logged-in-one {
  min-height: 120px;
  margin-top: -55px;
}
#no_polls {
  padding-bottom: 26px !important;
}
#poll-links a {
  color: #e95c41;
}
#poll_container {
  padding: 30px 20px;
  background: #edeae3;
  margin-bottom: 18px;
}
#alt-actions li:not(:last-child) {
  margin-right: 20px;
}
#date-time {
  width: 30% !important;
}
#one_poll {
  display: block;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 60px;
  font-size: 2.2em;
  font-weight: 300;
  padding-bottom: 20px;
}
#one_poll a {
  color: #e95c41;
}
#logged-in {
  margin-top: -55px;
}
#footer_content ul li:not(:first-child) {
  padding-right: 10px;
}
#footer_content a {
  font-size: 13px;
}
#user_content div#poll_container:not(:first-child) {
  padding-top: 20px !important;
}
@media screen and (min-width: 769px) {
  #index-search {
    padding: 18px;
    margin-right: 16px;
    width: 60%;
  }
  #index-session {
    text-align: right;
  }
  #index-session button.btn.btn-info {
    padding: 9px;
  }
  #alert-bottom {
    float: right;
  }
  #alert-bottom {
    width: 76%;
  }
  #poll_container {
    padding: 40px 70px;
  }
}
@media screen and (max-width: 1197px) {
  #alert-bottom {
    width: 80%;
  }
}
@media screen and (max-width: 977px) {
  #alert-bottom {
    width: 86%;
  }
}
