script
	var dataPath = '/user/' + #{locals.udata} + '/poll/' + #{locals.pdata} + '/question/' + #{locals.qdata[0].Question_ID} + '.json';
	d3.json(dataPath, function(json) { console.log(json); verticalBars(json, dataPath); });
	d3.json(dataPath, function(json) { pieChart(json, dataPath);     });
