footer#logged-in
	#footer_container.container
		.row-fluid
			#footer_content
				ul
					li#copy 
						| ©
						| SmartClickr
					li.divider-vertical: a(href='/help') Help Center 
					li.divider-vertical: a(href='/privacy') Privacy 
					li: a(href='/terms') Terms of Service