// Footer Content //
footer
	#footer_container.container
		.row-fluid
			#footer_content
				div.span2
					h5 Navigation
					ul
						li: a(href='/') Home
						li: a(href='/features') Features
						li: a(href='/help') Help Center
						li: a(href='/samples') Sample Questions
				div.span2
					h5 Connect
					ul
						li: a(href='/about') About Us
						li: a(href='/blog') Blog
						li: a(href='/contact') Contact
						li: a(href='/data') Data Center
				div.span2
					h5 Legal
					ul
						li: a(href='/privacy') Privacy
						li: a(href='/terms') Terms
				div#social.span6
					h5 Share
					ul
						li: a(href='#') Facebook
						li: a(href='#') Twitter
		.clear
	#legal
		span
			| ©
			| SmartClickr Inc, All Rights Reserved