// Footer Content //

block content
script
	!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)){js=d.createElement(s);
		js.id=id;
		js.src="//platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js,fjs);
	}}(document,"script","twitter-wjs");

div(id="fb-root")
script
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
footer
	#footer_container.container
		.row-fluid
			#footer_content
				div.span2
					h5 Navigation
					ul
						li: a(href='/') Home
						li: a(href='/features') Features
						li: a(href='/help') Help Center
				div.span2
					h5 Connect
					ul
						li: a(href='/about') About Us
						li: a(href='/data') Data
						li: a(href='/contact') Contact
				div.span2.legal
					h5 Legal
					ul
						li: a(href='/privacy') Privacy
						li: a(href='/terms') Terms
				div#social.span6.clearfix
					h5 We're Social
					ul.clearfix 
						li.span3: a(class="fb-like", data-href="http://bfisch06.dyndns-home.com", data-send="false",data-layout="button_count", data-width="450", data-show-faces="false") 
						li.span3: iframe(allowtransparancy="true", frameborder="0", scrolling="no",src="https://platform.twitter.com/widgets/tweet_button.html",style="width:76px; height:20px;")
										a(href="https://twitter.com/share", class="twitter-share-button", data-via="thejamesdempsey") Tweet It
						li.span3: a(class="g-plusone", data-size="medium")
						script
							(function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							})();
		.clear
#legal
	//currentTime = new Date
	//i= currentTime.getFullYear()

	span#kind
		| Handcrafted with
		span#love&hearts;
		| in Harrisonburg, VA

	span#copy
		| Copyright &copy; 2012-
		currentTime = new Date
		span#date= currentTime.getFullYear() 
		a(href="/") SmartClickR
		| ,
		span#rights All Rights Reserved


		

