// Footer Content //

//block content

// Twitter Tweet Button
script
	!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;
			js.src="//platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);
		}
	}(document,"script","twitter-wjs");

// Facebook Like Button
div(id="fb-root")
script
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

// Google Plus Button
script(type="text/javascript", src="https://apis.google.com/js/plusone.js")

footer
	#footer_container.container
		.row-fluid
			#footer_content
				div.span2
					h5 Navigation
					ul
						li: a(href='/') Home
						li: a(href='/features') Features
						li: a(href='/help') Help Center
				div.span2
					h5 Connect
					ul
						li: a(href='/about') About Us
						//li: a(href='/data') Data
						li: a(href='/contact') Contact
				div.span2.legal
					h5 Legal
					ul
						li: a(href='/privacy') Privacy
						li: a(href='/terms') Terms
				div#social.span6.clearfix
					h5 We're Social
					ul.clearfix 
						li(class="fb-like span3", data-href="http://www.smartclickr.com", data-send="false", data-layout="button_count", data-width="100", data-show-faces="false", data-font="arial")
						li.span3: a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://smartclickr.com", data-text="SmartClickr -- A better way to ask questions and create polls", data-via="smartclickr") Tweet It
						li(class='span3', style='margin-left: 10px; margin-right: 0px'): a(class="g-plusone span3", data-size="medium", data-annotation="inline", data-width="120", data-href="http://smartclickr.com", style='align:right;')

		.clear
#legal

	span#kind
		| Handcrafted with
		span#love&hearts;
		| in Harrisonburg, VA

	span#copy
		| Copyright &copy; 2012-
		currentTime = new Date
		span#date= currentTime.getFullYear() 
		a(href="/") SmartClickR
		| ,
		span#rights All Rights Reserved


		

