// Footer Content //
footer
	#footer_container.container
		.row-fluid
			#footer_content
				div.span3
					h5 Navigation
					ul
						li: a(href='/') Home
						li: a(href='/features') Features
						li: a(href='/samples') Sample Questions
				div.span3
					h5 Connect
					ul
						li: a(href='/about') About Us
						li: a(href='/blog') Blog
						li: a(href='/contact') Contact
				div.span3
					h5 Legal
					ul
						li: a(href='/privacy') Privacy
						li: a(href='/terms') Terms
				div#social.span3
					h5 Share
					ul
						li: a(href='#') Facebook
						li: a(href='#') Twitter
		.clear
#legal
	span
		| Made with &hearts; in Harrisonburg, VA,   
		|  ©
		| SmartClickR Inc, All Rights Reserved



